Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
    "src/**/*.js": "eslint",
    "test/**/*.js": "eslint",
    "*.{js,json,css,md}": [
      "prettier --write"
    ]
  }

fix(ARIA): remove tabindex
  src/EventCell.js
Due: eslint, prettier --write

fix(ARIA): remove tabindex (#2508)
  src/EventCell.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.10.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  31/c4f9b0375f57a13b244bb1c54de922a7b4291b
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.21c2d4cb.iframe.bundle.js
  examples/main.fba5229a.iframe.bundle.js
  examples/project.json
Due: prettier --write

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

docs: update documentation site
  examples/project.json
Due: prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.7da4c654.iframe.bundle.js
  examples/main.fba5229a.iframe.bundle.js
  examples/project.json
Due: prettier --write

docs(contributing): improve contributing guidelines
  CONTRIBUTING.md
  README.md
  package-lock.json
  yarn.lock
Due: prettier --write

fix: properly set background event width value when using overlap layout algorithm
  src/TimeGridEvent.js
  stories/Layout.stories.js
  test/utils/DayEventLayout.test.js
Due: eslint, prettier --write

fix: properly set background event left/right value when using no-overlap layout algorithm
  src/TimeGridEvent.js
  stories/Layout.stories.js
Due: eslint, prettier --write

test: refacor DayEventLayout test case to use it.each for consistency
  test/utils/DayEventLayout.test.js
Due: eslint, prettier --write

fix: day events sort fixed
  src/utils/layout-algorithms/no-overlap.js
Due: eslint, prettier --write

fix: day events sort fixed (#2512)
  src/utils/layout-algorithms/no-overlap.js
Due: eslint, prettier --write

Notes added by 'git notes add'
  95/e6b0b5831d319fe7ae15026a2f7554ae7f0453
Due: none

chore(release): set `package.json` to 1.10.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.7da4c654.iframe.bundle.js
  examples/main.83403d21.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: make layout style identical for events and background events
  src/TimeGridEvent.js
Due: eslint, prettier --write

fix overlapping background events (#2510)
  src/TimeGridEvent.js
  stories/Layout.stories.js
  test/utils/DayEventLayout.test.js
Due: eslint, prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.0243823a.iframe.bundle.js
  examples/main.83403d21.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: to build
  README.md
Due: prettier --write

fix: to build (#2517)
  README.md
Due: prettier --write

chore(release): set `package.json` to 1.10.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3b/18527fd64a8db0e74f6edba18c4552a0eb95e4
Due: none

if same day -
  .size-snapshot.json
  package.json
  src/localizer.js
Due: eslint, prettier --write

updated logic for putting all day events followed by multi-day events
  .size-snapshot.json
  package.json
  src/localizer.js
  src/utils/eventLevels.js
Due: eslint, prettier --write

fixed events under 24 hours but multi day
  .size-snapshot.json
  package.json
  src/localizer.js
Due: eslint, prettier --write

set value once as const
  .size-snapshot.json
  package.json
  src/localizer.js
Due: eslint, prettier --write

fix: UNSAFE_componentWillReceiveProps in strict mode is not recommended #2470
  src/DayColumn.js
Due: eslint, prettier --write

fix: replace native onKeyPress event by onKeyDown (non-breaking)
  src/EventCell.js
  src/TimeGridEvent.js
  src/TimeGridHeader.js
Due: eslint, prettier --write

chore: allow install from github by building on script:prepare
  package.json
Due: prettier --write

Revert "chore: allow install from github by building on script:prepare"
  package.json
Due: prettier --write

feat: add citation file
  CITATION.cff
Due: none

feat: add citation file (#2523)
  CITATION.cff
Due: none

chore(release): set `package.json` to 1.11.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c6/f8687ab1a96c9d56ee59da6382a72cc14ac6c6
Due: none
