Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

docs: update documentation site
  examples/project.json
Due: prettier --write

fix: replace deprecated onKeyPress by onKeyDown
  src/DayColumn.js
  src/EventCell.js
  src/TimeGridEvent.js
  src/TimeGridHeader.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.11.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  35/1b0f3d1016b997a2ba231fe95cb6860ddd40f6
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.0243823a.iframe.bundle.js
  examples/main.6c48b282.iframe.bundle.js
  examples/project.json
Due: prettier --write

fixes #2424 - fix js error TypeError: Cannot read properties of undefined (reading 'getDate')
  src/Month.js
Due: eslint, prettier --write

chore(deps): bump @babel/runtime from 7.20.7 to 7.24.0
  package.json
  yarn.lock
Due: prettier --write

fix: issue 2529
  src/DayColumn.js
Due: eslint, prettier --write

Align more button correctly when weekend is hidden
  src/DateContentRow.js
Due: eslint, prettier --write

Release v0.20.0
  CHANGELOG.md
  package.json
Due: prettier --write

Release v0.21.0
  CHANGELOG.md
  package.json
Due: prettier --write

Release v0.22.0
  CHANGELOG.md
  package.json
Due: prettier --write

Release v0.23.0
  CHANGELOG.md
  package.json
Due: prettier --write

Release v0.24.0
  CHANGELOG.md
  package.json
Due: prettier --write

Release v0.25.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: correct slotMetrics issue in TimeGrid
  src/DayColumn.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.11.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  12/d81f0812abf6bf5cb27272d836525705a9ebc2
Due: none

Release v0.26.0
  CHANGELOG.md
  package.json
Due: prettier --write

Release v0.27.0
  CHANGELOG.md
  package.json
Due: prettier --write

Release v0.28.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(components): showMore component customization
  src/Calendar.js
  src/EventEndingRow.js
  stories/Calendar.stories.js
  stories/resources/customComponents.js
Due: eslint, prettier --write

fix: issue 2536
  src/DayColumn.js
Due: eslint, prettier --write

docs: update Slack invite link in README.md
  README.md
Due: prettier --write

moved work location events to the top
  .size-snapshot.json
  package.json
  src/localizer.js
  src/utils/eventLevels.js
Due: eslint, prettier --write

Add keyAccessor for events
  src/Calendar.js
  src/DayColumn.js
  src/EventRow.js
  src/Popup.js
Due: eslint, prettier --write

Update version to be 0.33.52
  package.json
Due: prettier --write

Fix version number
  .size-snapshot.json
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

fix: drag selection upward
  src/utils/TimeSlots.js
Due: eslint, prettier --write

fix: keep the original logic
  src/utils/TimeSlots.js
Due: eslint, prettier --write

fix: _handleTerminatingEvent
  src/Selection.js
Due: eslint, prettier --write

fix: reset _lastClickData
  src/Selection.js
Due: eslint, prettier --write

fix(Selection): handling of terminating event
  src/Selection.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.11.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  72/a01478da2f0694ee2a3a4f1d2c1281ad8effc0
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.3343b917.iframe.bundle.js
  examples/main.8e07489a.iframe.bundle.js
  examples/project.json
Due: prettier --write

Path conditions:
  eslint: (any of: src/**/*.js) or (any of: test/**/*.js)
  prettier --write: any of: *.{js,json,css,md}
