Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Update styles.scss
  src/sass/styles.scss
Due: none

refactor(a11y): aria role cell is not allowed for button element
  src/DateHeader.js
Due: eslint, prettier --write

fix: correct nested sass
  src/sass/styles.scss
Due: none

fix: correct nested sass (#2641)
  src/sass/styles.scss
Due: none

chore(release): set `package.json` to 1.13.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  87/ee24428001ca10a6d42dd9c88490a1882185e2
Due: none

docs: update documentation site
  examples/project.json
Due: prettier --write

fix: Sass warning on latest version
  src/sass/styles.scss
Due: none

Notes added by 'git notes add'
  fe/24a08869e146b17812a618ae6ea78ca44a2afc
Due: none

chore(release): set `package.json` to 1.13.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.3ef614ad.iframe.bundle.js
  examples/main.b034e480.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: Update Slack channel invite in README.md
  README.md
Due: prettier --write

fix: Update Slack channel invite link in README-ar.md
  docs/README-ar.md
Due: prettier --write

Notes added by 'git notes add'
  3d/9ee861dabc6a366d845350a7649f7bea5faeca
Due: none

chore(release): set `package.json` to 1.13.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

fix crash
  src/Calendar.js
Due: eslint, prettier --write

feat(dayPropGetter): pass resourceId to method
  src/DayColumn.js
  stories/props/dayPropGetter.mdx
Due: eslint, prettier --write

feat(dayPropGetter): pass resourceId to method (#2650)
  src/DayColumn.js
  stories/props/dayPropGetter.mdx
Due: eslint, prettier --write

Notes added by 'git notes add'
  d6/6bd12fc37799b59cd1e6b30dd94eea65e7d62f
Due: none

chore(release): set `package.json` to 1.14.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.5958f87f.iframe.bundle.js
  examples/main.b034e480.iframe.bundle.js
  examples/project.json
Due: prettier --write

feat(sass): add negative margin utility class for spacing adjustments
  src/sass/styles.scss
Due: none

feat: add TimeGridHeaderResources component for enhanced time grid functionality
  src/TimeGridHeaderResources.js
Due: eslint, prettier --write

feat: implement resource grouping in TimeGrid with conditional header rendering
  src/TimeGrid.js
Due: eslint, prettier --write

fix: fixing Key in the correct div
  src/TimeGridHeaderResources.js
Due: eslint, prettier --write

feat: exposing `resourceGroupingLayout` prop to Calendar
  src/Calendar.js
Due: eslint, prettier --write

feat: Updating resource example with toggable grouping
  stories/demos/exampleCode/resource.js
Due: prettier --write

feat: today on resources
  src/TimeGridHeaderResources.js
Due: eslint, prettier --write

fix: right border when today
  src/sass/month.scss
Due: none

added check for null dragFromOutsideItem, updated example
  src/addons/dragAndDrop/EventContainerWrapper.js
  src/addons/dragAndDrop/WeekWrapper.js
  stories/demos/exampleCode/dndOutsideSource.js
Due: eslint, prettier --write

fix(dnd): added check for null dragFromOutsideItem, updated example (#2651)
  src/addons/dragAndDrop/EventContainerWrapper.js
  src/addons/dragAndDrop/WeekWrapper.js
  stories/demos/exampleCode/dndOutsideSource.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.14.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  85/6dddf8938a0e0e543b4ef026e0ca3cdcce1071
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.5958f87f.iframe.bundle.js
  examples/main.7f374af4.iframe.bundle.js
  examples/project.json
Due: prettier --write

feat(components): showMore component customization
  src/Calendar.js
  src/EventEndingRow.js
  stories/Calendar.stories.js
  stories/helpers/index.js
  stories/props/components.mdx
  stories/resources/customComponents.js
Due: eslint, prettier --write

feat(components): showMore component customization (#2537)
  src/Calendar.js
  src/EventEndingRow.js
  stories/Calendar.stories.js
  stories/helpers/index.js
  stories/props/components.mdx
  stories/resources/customComponents.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.15.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  20/fb28ba425cb52956075facd813ea9a0430cef6
Due: none

Path conditions:
  eslint: (any of: src/**/*.js) or (any of: test/**/*.js)
  prettier --write: any of: *.{js,json,css,md}
