Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
    "src/**/*.js": "eslint",
    "test/**/*.js": "eslint",
    "*.{js,json,css,md}": [
      "prettier --write"
    ]
  }

Deploying to gh-pages from @ jquense/react-big-calendar@ebd9547733c270edfd591ba9578057eed4f655f8 🚀
  examples/iframe.html
  examples/main.6bdee7fd.iframe.bundle.js
  examples/main.953ee573.iframe.bundle.js
  examples/project.json
Due: prettier --write

ci: update storybook
  .eslintrc.js
  .eslintrc.json
  .size-snapshot.json
  package.json
  yarn.lock
Due: prettier --write

ci: update multiple dependencies
  .size-snapshot.json
  package.json
  yarn.lock
Due: prettier --write

ci: update testing dependencies
  .size-snapshot.json
  package.json
  yarn.lock
Due: prettier --write

ci: update storybook (#2327)
  .eslintrc.js
  .eslintrc.json
  .size-snapshot.json
  package.json
  yarn.lock
Due: prettier --write

ci: correct release
  .github/workflows/storybook.yml
Due: none

ci: correct release (#2331)
  .github/workflows/storybook.yml
Due: none

docs: update documentation site
  examples/project.json
Due: prettier --write

fix: set width
  src/utils/layout-algorithms/overlap.js
Due: eslint, prettier --write

fix: set width (#2332)
  src/utils/layout-algorithms/overlap.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.6.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7debe7fd57756078f4600f76a0b6bcadac57dd7d
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.2d6b9c7a.iframe.bundle.js
  examples/main.69dffa9d.iframe.bundle.js
  examples/project.json
Due: prettier --write

ci: attempt resolution
  .github/workflows/release.yml
Due: none

ci: attempt resolution (#2333)
  .github/workflows/release.yml
Due: none

docs: add slack invite links
  README.md
  stories/AboutBigCalendar.stories.mdx
Due: prettier --write

docs: add slack invite links (#2335)
  README.md
  stories/AboutBigCalendar.stories.mdx
Due: prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.13e4f3b2.iframe.bundle.js
  examples/main.2d6b9c7a.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: no-overlap layout algorithm (#2239)
  src/utils/layout-algorithms/no-overlap.js
Due: eslint, prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.13e4f3b2.iframe.bundle.js
  examples/main.73b719e4.iframe.bundle.js
  examples/project.json
Due: prettier --write

ci: update config
  .github/workflows/release.yml
  src/Day.js
Due: eslint, prettier --write

ci: update config (#2340)
  .github/workflows/release.yml
  src/Day.js
Due: eslint, prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.73b719e4.iframe.bundle.js
  examples/main.be96a074.iframe.bundle.js
  examples/project.json
Due: prettier --write

ci: update build configuration
  .size-snapshot.json
  package.json
  rollup.config.mjs
  yarn.lock
Due: prettier --write

ci: update node version in github actions
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

ci: update build configuration (#2341)
  .github/workflows/release.yml
  .github/workflows/test.yml
  .size-snapshot.json
  package.json
  rollup.config.mjs
  yarn.lock
Due: prettier --write

ci: update action
  .github/workflows/release.yml
Due: none

ci: update config
  .github/workflows/release.yml
Due: none

ci: update action (#2342)
  .github/workflows/release.yml
Due: none

ci: update configs
  .github/workflows/release.yml
Due: none

ci: update configs (#2343)
  .github/workflows/release.yml
Due: none

fix: event overlap other event #2348
  src/TimeGridEvent.js
  src/utils/layout-algorithms/overlap.js
Due: eslint, prettier --write
