Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix: Modify events.js (#2444)
  stories/resources/events.js
Due: prettier --write

chore(release): set `package.json` to 1.8.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cb/ac29a84e03f48aa609e81b83e30d5b92802a3c
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.08b82204.iframe.bundle.js
  examples/main.6d4822c0.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: typo (#2443)
  stories/AboutExamples.stories.mdx
Due: none

chore(release): set `package.json` to 1.8.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6a/1c1b1801795ab192254db6b8e0a7a6ccc3ee18
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.08b82204.iframe.bundle.js
  examples/main.4d1c6e0b.iframe.bundle.js
  examples/project.json
Due: prettier --write

feat: Add title attribute to dayPropGetter to enable tooltips in monthly view
  src/BackgroundCells.js
Due: eslint, prettier --write

fix(component): fixing component for no_overlapping events
  src/DayColumn.js
  src/utils/TimeSlots.js
Due: eslint, prettier --write

Revert "fix(component): fixing component for no_overlapping events"
  src/DayColumn.js
  src/utils/TimeSlots.js
Due: eslint, prettier --write

fix(component): fix no-overlap event
  src/DayColumn.js
Due: eslint, prettier --write

feat(time-grid): fixed invalid ref content
  src/TimeGrid.js
Due: eslint, prettier --write

chore: better checking
  src/TimeGrid.js
Due: eslint, prettier --write

feat(time-grid): changed condition
  src/TimeGrid.js
Due: eslint, prettier --write

fix(utils): correct a react lifecylce method in DayColumn.js component
  .vscode/settings.json
  src/DayColumn.js
Due: eslint, prettier --write

fix: fixing invalid ref with invalid scrollHeight (#2459)
  src/TimeGrid.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.8.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c6/b0f9e854158f92865dd5834771e14885fca259
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.4d1c6e0b.iframe.bundle.js
  examples/main.d9ba2979.iframe.bundle.js
  examples/project.json
Due: prettier --write

docs: Update README.md
  README.md
Due: prettier --write

docs: update documentation site
  examples/project.json
Due: prettier --write

Keep events sorting in one row
  src/utils/layout-algorithms/no-overlap.js
Due: eslint, prettier --write

Update DayColumn.js for unsafe warning
  src/DayColumn.js
Due: eslint, prettier --write

feat: time gutter position features
  src/Calendar.js
  src/TimeGrid.js
  src/TimeGridHeader.js
  src/sass/time-column.scss
  src/sass/time-grid.scss
  stories/Calendar.stories.js
Due: eslint, prettier --write

Made events accessible in week and day views
  src/TimeGridEvent.js
Due: eslint, prettier --write

Fix dragAndDrop EventWrapper.js error: cannot add property 'X', object is not extensible
  src/addons/dragAndDrop/EventWrapper.js
Due: eslint, prettier --write

Made events accessible in week and day views (#2473)
  src/TimeGridEvent.js
Due: eslint, prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.2e1bf1aa.iframe.bundle.js
  examples/main.d9ba2979.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: add storybook for props.timeGutterPosition
  stories/props/timeGutterPosition.mdx
  stories/props/timeGutterPosition.stories.js
Due: prettier --write

docs: Update Slack Invite in README.md
  README.md
Due: prettier --write

Update EventWrapper.js
  src/addons/dragAndDrop/EventWrapper.js
Due: eslint, prettier --write

fix(DnD): dragAndDrop EventWrapper.js error: cannot add property 'X', object is not extensible
  src/addons/dragAndDrop/EventWrapper.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.8.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  27/6e4506990bdc33e364503cdb455646ca6d7a81
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.2e1bf1aa.iframe.bundle.js
  examples/main.8555fad9.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: add isBackgroundEvent to onSelectEvent event obj
  src/DayColumn.js
Due: eslint, prettier --write

Path conditions:
  eslint: (any of: src/**/*.js) or (any of: test/**/*.js)
  prettier --write: any of: *.{js,json,css,md}
