Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Notes added by 'git notes add'
  62/1b8f1202b6a1e11dda77095c0cbec4c710fa14
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.1f0974e8.iframe.bundle.js
  examples/main.caa9adb3.iframe.bundle.js
  examples/project.json
Due: prettier --write

feat: added slotChildrenWraper props
  src/Calendar.js
  src/TimeSlotGroup.js
Due: eslint, prettier --write

feat: added types
  index.d.ts
  package.json
Due: prettier --write

feat: added story
  .gitignore
  dist/react-big-calendar.esm.js
  dist/react-big-calendar.js
  dist/react-big-calendar.min.js
  src/Calendar.js
  src/TimeSlotGroup.js
  stories/Calendar.stories.js
  stories/resources/customComponents.js
Due: eslint, prettier --write

fix: put bundled css in dist
  .scripts/build.mjs
  dist/react-big-calendar.css
  dist/react-big-calendar.css.map
  dist/react-big-calendar.esm.js
  dist/react-big-calendar.js
Due: prettier --write

feat: slot children wrapper will have a prop (#3)
  dist/react-big-calendar.esm.js
  dist/react-big-calendar.js
  dist/react-big-calendar.min.js
  index.d.ts
  src/TimeSlotGroup.js
Due: eslint, prettier --write

feat: added slotChildrenWraper props (#4)
  dist/react-big-calendar.esm.js
  dist/react-big-calendar.js
  dist/react-big-calendar.min.js
  package.json
  src/Selection.js
  yarn.lock
Due: eslint, prettier --write

chore: remove console statements from dist files
  dist/react-big-calendar.esm.js
  dist/react-big-calendar.js
  dist/react-big-calendar.min.js
Due: prettier --write

chore: build library
  dist/react-big-calendar.esm.js
  dist/react-big-calendar.js
  dist/react-big-calendar.min.js
  package.json
  yarn.lock
Due: prettier --write

fix: accept a marker to get the parent in dom
  dist/react-big-calendar.esm.js
  dist/react-big-calendar.js
  dist/react-big-calendar.min.js
  src/BackgroundCells.js
  src/DayColumn.js
  src/Selection.js
  src/addons/dragAndDrop/EventContainerWrapper.js
  src/addons/dragAndDrop/WeekWrapper.js
Due: eslint, prettier --write

fix: get the closest rh portal parent for dom ops instead of getting anywhere from body
  dist/react-big-calendar.esm.js
  dist/react-big-calendar.js
  dist/react-big-calendar.min.js
  src/DayColumn.js
  src/Selection.js
Due: eslint, prettier --write

Warning: Agenda: Support for defaultProps will be removed from function components in a future major release. Use JavaScript default parameters instead.
  src/Agenda.js
Due: eslint, prettier --write

Support react 17 peer dependency
  package.json
Due: prettier --write

release readme
  README.md
Due: prettier --write

Release v0.29.0
  CHANGELOG.md
  package.json
Due: prettier --write

Release v0.30.0
  CHANGELOG.md
  package.json
Due: prettier --write

Release v0.31.0
  CHANGELOG.md
  package.json
Due: prettier --write

Update Agenda.js
  src/Agenda.js
Due: eslint, prettier --write

feat: pass resource prop to DayColumnWrapper; Updated docs and storybook
  package-lock.json
  src/DayColumn.js
  stories/Calendar.stories.js
  stories/props/components.mdx
  stories/resources/CustomDayColumnWrapper.js
  stories/resources/customComponents.js
  stories/resources/resourceEvents.js
  yarn.lock
Due: eslint, prettier --write

chore: cleanup
  stories/Calendar.stories.js
  stories/resources/resourceEvents.js
Due: prettier --write

fix: remove package-lock and regen yarn.lock
  package-lock.json
  yarn.lock
Due: prettier --write

feat: pass resource prop to DayColumnWrapper
  src/DayColumn.js
  stories/Calendar.stories.js
  stories/props/components.mdx
  stories/resources/CustomDayColumnWrapper.js
  stories/resources/customComponents.js
  yarn.lock
Due: eslint, prettier --write

chore(release): set `package.json` to 1.13.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7d/9d1c55c3441330d68606200a7b088aa3649e05
Due: none

fix: render resources under each day in header column
  src/TimeGrid.js
Due: eslint, prettier --write

fix(dnd): add correct dragOverFromOutside behavior
  src/addons/dragAndDrop/EventContainerWrapper.js
Due: eslint, prettier --write

fix: prevent parent onclick when clicking child element
  src/Selection.js
Due: eslint, prettier --write

fix: warning defaultProps in Agenda
  src/Agenda.js
Due: eslint, prettier --write

fix: warning defaultProps in Agenda (#2620)
  src/Agenda.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.13.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5a/f784f7b8cabd1b2f43375084a975afd037fccf
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.3ef614ad.iframe.bundle.js
  examples/main.5431e4a7.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: make the ending time exclusive to avoid events at midnight from running into next day
  src/localizers/moment.js
Due: eslint, prettier --write

fix: make the ending time exclusive to avoid events at midnight from running into next day
  src/TimeGrid.js
  src/localizers/moment.js
Due: eslint, prettier --write

fix: dd testing in storyboard
  stories/Durations.stories.js
Due: prettier --write

Update package.json
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

Remove instances of yarn
  .github/workflows/release.yml
  .github/workflows/storybook.yml
  .github/workflows/test.yml
  .gitignore
  README.md
  docs/README-ar.md
Due: prettier --write

Update sass packages
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint: (any of: src/**/*.js) or (any of: test/**/*.js)
  prettier --write: any of: *.{js,json,css,md}
