Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

missed confict resolved
  src/Popup.js
Due: eslint, prettier --write

Update package name && fixed eslint error
  package.json
  src/DayColumn.js
Due: eslint, prettier --write

patch for test cases
  src/utils/eventLevels.js
Due: eslint, prettier --write

fix: pass overlay props
  src/Month.js
Due: eslint, prettier --write

fix: disable `absoluteRuntime` in babel-preset-react-app
  .size-snapshot.json
  babel.config.js
Due: prettier --write

fix: babel config not to use absoluteRuntime
  babel.config.js
Due: prettier --write

fix: disable `absoluteRuntime` in babel-preset-react-app (#2155)
  .size-snapshot.json
  babel.config.js
Due: prettier --write

chore(release): set `package.json` to 0.39.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  475b1093db70759ff48cec93ca2d16ef97b6efb6
Due: none

fix: add react and react dom to dev devDependencies
  .size-snapshot.json
  package.json
Due: prettier --write

fix: fix mouse up out of resource div
  src/BackgroundCells.js
Due: eslint, prettier --write

fix: incorrect babel imports in CJS/ESM builds
  .scripts/build.mjs
  .size-snapshot.json
  babel.config.esm.js
  babel.config.js
  rollup.config.js
  yarn.lock
Due: prettier --write

fix: incorrect babel imports in CJS/ESM builds (#2157)
  .scripts/build.mjs
  .size-snapshot.json
  babel.config.esm.js
  babel.config.js
  rollup.config.js
  yarn.lock
Due: prettier --write

chore(release): set `package.json` to 0.39.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fc91bf1faf004148fe7e9b989a73b93c2eea24a7
Due: none

fix: move react, react-dom to devDependencies
  .size-snapshot.json
  package.json
Due: prettier --write

fix: move react, react-dom to devDependencies (#2160)
  .size-snapshot.json
  package.json
Due: prettier --write

chore(release): set `package.json` to 0.39.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  864f85160c89727bfd9caf2f67fbbd6ec9a27fe7
Due: none

feat: default events prop to an empty array
  .husky/pre-commit
  src/Calendar.js
  stories/props/API.stories.mdx
  stories/props/events.mdx
  stories/props/events.stories.js
Due: eslint, prettier --write

feat(events): default events prop to an empty array (#2161)
  .husky/pre-commit
  src/Calendar.js
  stories/props/API.stories.mdx
  stories/props/events.mdx
  stories/props/events.stories.js
Due: eslint, prettier --write

chore(release): set `package.json` to 0.40.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  abe167e53f8bcfbe00295d1b25c579ac754d04e0
Due: none

Deploying to gh-pages from @ jquense/react-big-calendar@abe167e53f8bcfbe00295d1b25c579ac754d04e0 🚀
  examples/iframe.html
  examples/main.6a8c492d.iframe.bundle.js
  examples/main.ec8e7ca8.iframe.bundle.js
Due: prettier --write

Re-concile previous work on multi-resource events with latest changes
  .size-snapshot.json
  src/DayColumn.js
  src/addons/dragAndDrop/EventWrapper.js
  src/utils/Resources.js
  stories/demos/exampleCode/dndresource.js
  stories/demos/exampleCode/resource.js
Due: eslint, prettier --write

Tweak copy checkbox label copy
  .size-snapshot.json
  stories/demos/exampleCode/dndresource.js
Due: prettier --write

Remove event from source resource slot when in move mode
  .size-snapshot.json
  stories/demos/exampleCode/dndresource.js
Due: prettier --write

feature/arrow-keys-navigation: Add combokeys dependency.
  package.json
  yarn.lock
Due: prettier --write

feature/arrow-keys-navigation: Add arrow key navigation.
  examples/bundle.js
  examples/bundle.js.map
  examples/demos/dnd.js
  src/BackgroundCells.js
  src/DateContentRow.js
  src/Month.js
  src/utils/constants.js
Due: eslint, prettier --write

Add new story and example for mmulti-resource events with drag and drop
  stories/DragAndDrop.stories.js
  stories/helpers/index.js
Due: prettier --write

Npm run-script build
  .size-snapshot.json
Due: prettier --write

feature/arrow-keys-navigation: Remove unused flag.
  src/BackgroundCells.js
  src/Month.js
Due: eslint, prettier --write

update/version: Update version to 3.3.3
  package.json
Due: prettier --write

update/version: Update version to 3.3.4
  package.json
Due: prettier --write

Update package.json with new name and contributors
  package.json
Due: prettier --write

Update package.json with TheoremOne's org scope
  package.json
Due: prettier --write

Update package.json with lowercase letters in the name only
  package.json
Due: prettier --write

Path conditions:
  eslint: (any of: src/**/*.js) or (any of: test/**/*.js)
  prettier --write: any of: *.{js,json,css,md}
