Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix: add isBackgroundEvent to onSelectEvent event obj (#2491)
  src/DayColumn.js
Due: eslint, prettier --write

Notes added by 'git notes add'
  f3/c070cf95ba17eb4dc676e8bb1c81d52330af9e
Due: none

chore(release): set `package.json` to 1.8.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.647139c2.iframe.bundle.js
  examples/main.8555fad9.iframe.bundle.js
  examples/project.json
Due: prettier --write

docs: update onSelectEvent prop story
  stories/props/onSelectEvent.mdx
Due: none

docs: update onSelectEvent prop story (#2492)
  stories/props/onSelectEvent.mdx
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.647139c2.iframe.bundle.js
  examples/main.d9b748db.iframe.bundle.js
  examples/project.json
Due: prettier --write

feat: add screen reader support to date headers
  src/DateHeader.js
  src/Month.js
  src/sass/styles.scss
Due: eslint, prettier --write

fix(dnd): move merge components to render to be able to receive state updates on components
  src/addons/dragAndDrop/withDragAndDrop.js
Due: eslint, prettier --write

feat: showMore message add event info
  src/EventEndingRow.js
Due: eslint, prettier --write

feat: add remaining events and all events in day
  src/EventEndingRow.js
  stories/props/messages.mdx
Due: eslint, prettier --write

feat: use the timezone that you passed
  src/localizers/moment.js
Due: eslint, prettier --write

feat: extract DateHeaderLabel component
  src/DateHeader.js
Due: eslint, prettier --write

feat: showMore message add event info (#2496)
  src/EventEndingRow.js
  stories/props/messages.mdx
Due: eslint, prettier --write

chore(release): set `package.json` to 1.9.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  25/dd638970d5e985fd2e09f3e23d52cd417d4fcb
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.91e94f63.iframe.bundle.js
  examples/main.d9b748db.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix(dnd): move merge components
  src/addons/dragAndDrop/withDragAndDrop.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.9.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0e/1734e9840d4b71de296085c821c67a06fa33be
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.91e94f63.iframe.bundle.js
  examples/main.ca6a90e8.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: update event sort for multi day
  src/Month.js
  src/utils/eventLevels.js
Due: eslint, prettier --write

chore: do not mutate event
  src/utils/eventLevels.js
  stories/resources/events.js
Due: eslint, prettier --write

chore: massage the sort
  .scripts/build.mjs
  src/localizer.js
  src/localizers/dayjs.js
  src/localizers/luxon.js
  src/localizers/moment.js
  src/utils/eventLevels.js
  stories/resources/events.js
  yarn.lock
Due: eslint, prettier --write

fix: changed flex-direction for rbc-toolbar mobile
  src/sass/toolbar.scss
Due: none

fix: changed flex-direction for rbc-toolbar mobile (#2497)
  src/sass/toolbar.scss
Due: none

chore(release): set `package.json` to 1.9.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  61/0d25d687e65a9cb7a862edd8cee395e9453aeb
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.1057c0c8.iframe.bundle.js
  examples/main.ca6a90e8.iframe.bundle.js
  examples/project.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

docs: update documentation site
  examples/project.json
Due: prettier --write

feat(event sort): update event sort for multi day (#2502)
  .scripts/build.mjs
  src/Month.js
  src/localizer.js
  src/localizers/dayjs.js
  src/localizers/luxon.js
  src/localizers/moment.js
  src/utils/eventLevels.js
  stories/resources/events.js
  yarn.lock
Due: eslint, prettier --write

chore(release): set `package.json` to 1.10.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  59/cad619961f53187241ee3084722f8ae2e50804
Due: none

added code from master of event sort for multi day (#2502)
  package.json
  src/Month.js
  src/localizer.js
  src/localizers/luxon.js
  src/localizers/moment.js
  src/utils/eventLevels.js
Due: eslint, prettier --write

removed duplicate function
  src/utils/eventLevels.js
Due: eslint, prettier --write

updated and added import for duration
  .size-snapshot.json
  package.json
  src/localizer.js
Due: eslint, prettier --write

docs: correct some linking
  stories/AboutBigCalendar.stories.mdx
  stories/addons/addOns.stories.mdx
  yarn.lock
Due: none

docs: correct some linking (#2507)
  stories/AboutBigCalendar.stories.mdx
  stories/addons/addOns.stories.mdx
  yarn.lock
Due: none

Path conditions:
  eslint: (any of: src/**/*.js) or (any of: test/**/*.js)
  prettier --write: any of: *.{js,json,css,md}
