Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Update README.md removing Citrusbyte mentions
  README.md
Due: prettier --write

Update package.json version
  package.json
Due: prettier --write

error in luxon localizer
  src/localizers/luxon.js
Due: eslint, prettier --write

fix: correct luxon localizer formatting (#2172)
  src/localizers/luxon.js
Due: eslint, prettier --write

chore(release): set `package.json` to 0.40.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f6663ec76e96ef49f797e64b0dfc06292a79b2db
Due: none

Deploying to gh-pages from @ jquense/react-big-calendar@f6663ec76e96ef49f797e64b0dfc06292a79b2db 🚀
  examples/iframe.html
  examples/main.6a8c492d.iframe.bundle.js
  examples/main.9a62ea09.iframe.bundle.js
Due: prettier --write

Update npm package version to 3.3.6
  package.json
Due: prettier --write

Added support for React v18.x.x
  package.json
Due: prettier --write

draggable auto scroll
  src/addons/dragAndDrop/EventContainerWrapper.js
  src/addons/dragAndDrop/withDragAndDrop.js
  stories/DragAndDrop.js
Due: eslint, prettier --write

disable/arrow-keys: Disable Arrow keys feature.
  src/Month.js
Due: eslint, prettier --write

Updated resetting event action to be called at the end of the termination event handler
  src/Selection.js
Due: eslint, prettier --write

fix: Allow resize to last visible slot
  src/Selection.js
Due: eslint, prettier --write

Notes added by 'git notes add'
  b390e03db8350c787022931884e242ef2b0cc261
Due: none

chore(release): set `package.json` to 0.40.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploying to gh-pages from @ jquense/react-big-calendar@b390e03db8350c787022931884e242ef2b0cc261 🚀
  examples/iframe.html
  examples/main.704c1d00.iframe.bundle.js
  examples/main.9a62ea09.iframe.bundle.js
Due: prettier --write

fix: replace findDOMNode with refs
  src/BackgroundCells.js
  src/DateContentRow.js
  src/DayColumn.js
  src/DayColumnWrapper.js
  src/Month.js
  src/TimeGrid.js
Due: eslint, prettier --write

Fixes issue of loosing droppable event when releasing on non-event related containers
  src/Selection.js
  src/addons/dragAndDrop/WeekWrapper.js
Due: eslint, prettier --write

fix(DND): Corrects issue of losing droppable event when releasing on non-event related containers (#2199)
  src/Selection.js
  src/addons/dragAndDrop/WeekWrapper.js
Due: eslint, prettier --write

chore(release): set `package.json` to 0.40.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ffff7c0dd2fd16fa6fb2062e03f36d73941f7301
Due: none

Deploying to gh-pages from @ jquense/react-big-calendar@ffff7c0dd2fd16fa6fb2062e03f36d73941f7301 🚀
  examples/iframe.html
  examples/main.704c1d00.iframe.bundle.js
  examples/main.b8442fb4.iframe.bundle.js
Due: prettier --write

chore(release): set `package.json` to 0.40.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3db784b3ba6c1d07a2e9603d098fba386689dbf0
Due: none

#2201 Fix gutter dom reference when measuring gutter width
  src/TimeGrid.js
  src/TimeGutter.js
Due: eslint, prettier --write

chore(release): set `package.json` to 0.40.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  779060a47b379c25ce609cd0181c7fe53aabcb3a
Due: none

fix: correct TimeGutter ref
  src/TimeGrid.js
  src/TimeGutter.js
Due: eslint, prettier --write

fix: correct TimeGutter ref (#2204)
  src/TimeGrid.js
  src/TimeGutter.js
Due: eslint, prettier --write

Notes added by 'git notes add'
  e211bf0fd6c5c7e14cc57a8d96be282653912f14
Due: none

chore(release): set `package.json` to 0.40.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploying to gh-pages from @ jquense/react-big-calendar@e211bf0fd6c5c7e14cc57a8d96be282653912f14 🚀
  examples/iframe.html
  examples/main.72c4d9ff.iframe.bundle.js
  examples/main.dcb69f66.iframe.bundle.js
Due: prettier --write

fix: adjust TimeGutter for DST
  src/TimeGutter.js
Due: eslint, prettier --write

fix: adjust TimeGutter for DST (#2205)
  src/TimeGutter.js
Due: eslint, prettier --write

chore(release): set `package.json` to 0.40.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6a160ca043fc62340eb1adf8a0d28fefabca10e4
Due: none

Deploying to gh-pages from @ jquense/react-big-calendar@6a160ca043fc62340eb1adf8a0d28fefabca10e4 🚀
  examples/iframe.html
  examples/main.2ab8efbd.iframe.bundle.js
  examples/main.dcb69f66.iframe.bundle.js
Due: prettier --write

Path conditions:
  eslint: (any of: src/**/*.js) or (any of: test/**/*.js)
  prettier --write: any of: *.{js,json,css,md}
