Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
    "src/**/*.js": "eslint",
    "test/**/*.js": "eslint",
    "*.{js,json,css,md}": [
      "prettier --write"
    ]
  }

Revert "chore: fixed build scripts to work in winOS"
  .scripts/build.mjs
  build-win.js
  package.json
  yarn.lock
Due: prettier --write

Add fix for cleaning up preview events after drop
  package.json
  src/addons/dragAndDrop/EventContainerWrapper.js
  yarn.lock
Due: eslint, prettier --write

Remove unnecessary file
  package.json
  yarn.lock
Due: prettier --write

Remove unnecessary code
  src/addons/dragAndDrop/EventContainerWrapper.js
Due: eslint, prettier --write

feat(time-indicator-wrapper): expose time indicator wrapper component
  src/Calendar.js
  src/DayColumn.js
  stories/Calendar.stories.js
  stories/resources/customComponents.js
Due: eslint, prettier --write

chore: react 19 support
  package-lock.json
  package.json
  stories/demos/ExampleControlSlot.js
  stories/demos/TimezoneSelect.js
  stories/demos/exampleCode/cultures.js
  yarn.lock
Due: prettier --write

fix: rollup config
  package-lock.json
  package.json
  rollup.config.mjs
  yarn.lock
Due: prettier --write

chore(release): set `package.json` to 1.2.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update phrasing for onSelectSlot parameter docs
  stories/props/API.stories.mdx
  stories/props/onSelectSlot.mdx
  stories/props/onSelecting.mdx
Due: none

fix: Clean up preview elements after dropping from outside (#2746)
  src/addons/dragAndDrop/EventContainerWrapper.js
Due: eslint, prettier --write

fix: issue #2534 (#2566)
  README.md
  src/Month.js
  src/localizers/dayjs.js
Due: eslint, prettier --write

docs: update phrasing for onSelectSlot parameter docs (#2748)
  stories/props/API.stories.mdx
  stories/props/onSelectSlot.mdx
  stories/props/onSelecting.mdx
Due: none

feat(time-indicator-wrapper): expose time indicator wrapper component (#2747)
  src/Calendar.js
  src/DayColumn.js
  stories/Calendar.stories.js
  stories/resources/customComponents.js
Due: eslint, prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.7cae4723.iframe.bundle.js
  examples/main.eabcd5a9.iframe.bundle.js
  examples/project.json
Due: prettier --write

Notes added by 'git notes add'
  c3/af94578c61cc3c10ef47655c7301b060c4786c
Due: none

chore(release): set `package.json` to 1.19.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.6525f081.iframe.bundle.js
  examples/main.eabcd5a9.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: correctly show +more buttons on slots with hidden spanning events (#2744)
  src/EventEndingRow.js
Due: eslint, prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.6525f081.iframe.bundle.js
  examples/main.b9fdb240.iframe.bundle.js
  examples/project.json
Due: prettier --write

chore(release): set `package.json` to 1.19.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9c/63b1d532d8ff649766553a59af61def5361de1
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.4521d5f0.iframe.bundle.js
  examples/main.b9fdb240.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: fix dayjs localizer merge function to not change min and max upon tz change (#2712)
  src/localizers/dayjs.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.19.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  09/c615d5c2c1e207cd3dc6a7ac3378c02ad106d6
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.4521d5f0.iframe.bundle.js
  examples/main.92b1dd79.iframe.bundle.js
  examples/project.json
Due: prettier --write

Fix cleanup error
  src/addons/dragAndDrop/EventContainerWrapper.js
Due: eslint, prettier --write

Fix cleanup error (#2751)
  src/addons/dragAndDrop/EventContainerWrapper.js
Due: eslint, prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.56e19aac.iframe.bundle.js
  examples/main.92b1dd79.iframe.bundle.js
  examples/project.json
Due: prettier --write

Optimize Month view performance for large datasets
  package.json
  src/Calendar.js
  src/DateContentRow.js
  src/EventRowMixin.js
  src/IsolatedOverlayManager.js
  src/Month.js
  src/Popup.js
  src/utils/DateSlotMetrics.js
Due: eslint, prettier --write

Revert to simpler event filtering approach
  package.json
  src/DateContentRow.js
  src/Month.js
  src/utils/DateSlotMetrics.js
Due: eslint, prettier --write

Fix ESLint errors: add missing React imports and useEffect dependency
  src/EventRowMixin.js
  src/IsolatedOverlayManager.js
Due: eslint, prettier --write

Update formatting and eslint fixes
  package.json
  src/DateContentRow.js
  src/Month.js
Due: eslint, prettier --write

Update package.json
  package.json
Due: prettier --write

Replaces createFactory with createElement
  src/addons/dragAndDrop/common.js
Due: eslint, prettier --write

fix: Replaces createFactory with createElement (#2754)
  src/addons/dragAndDrop/common.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.19.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  33/245429349a7fa6092474f17e614e2f9c285643
Due: none
