Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
    "src/**/*.js": "eslint",
    "test/**/*.js": "eslint",
    "*.{js,json,css,md}": [
      "prettier --write"
    ]
  }

fix(accessibility): wrap +n more buttons in aria-compliant cells
  src/DateContentRow.js
Due: eslint, prettier --write

fix(dayjs localizer): reverts previous changs, as it was casting a date as UTC instead of local time
  src/localizers/dayjs.js
Due: eslint, prettier --write

fix(dayjs localizer): reverts previous changs, as it was casting a date as UTC instead of local time (#2759)
  src/localizers/dayjs.js
Due: eslint, prettier --write

Notes added by 'git notes add'
  b8/dc3db1a61feb609f380ea13b6d5a41d1c30e68
Due: none

chore(release): set `package.json` to 1.19.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.004c02c2.iframe.bundle.js
  examples/main.0383bea3.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: remove create factory
  src/addons/dragAndDrop/common.js
Due: eslint, prettier --write

fix lighten and darken deprecated functions
  src/sass/event.scss
  src/sass/month.scss
  src/sass/time-column.scss
  src/sass/toolbar.scss
  src/sass/variables.scss
  stories/resources/main.scss
Due: none

fix deprecated @import usage
  README.md
  docs/README-ar.md
  src/addons/dragAndDrop/styles.scss
  src/sass/agenda.scss
  src/sass/event.scss
  src/sass/month.scss
  src/sass/styles.scss
  src/sass/time-column.scss
  src/sass/time-grid.scss
  src/sass/toolbar.scss
  stories/guides/CustomStyling.stories.mdx
  stories/resources/main.scss
Due: prettier --write

fix(dragAndDrop): add guard for undefined dragFromOutsideItem
  src/addons/dragAndDrop/EventContainerWrapper.js
Due: eslint, prettier --write

fix: month/week view events and grid misaligned
  src/sass/month.scss
Due: none

add SingletonHTML5Backend impl to DragDrop
  SINGLETON_BACKEND_IMPLEMENTATION.md
  package-lock.json
  package.json
  src/addons/dragAndDrop/withDragAndDrop.js
  src/utils/features-consts.js
  src/utils/features-service.js
  yarn.lock
Due: eslint, prettier --write

bump version
  package-lock.json
  package.json
Due: prettier --write

CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Release v0.35.0
  CHANGELOG.md
  package.json
Due: prettier --write

Release v0.36.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: guard handleDragStart in show-more popup (#2786)
  src/Popup.js
Due: eslint, prettier --write

fix: update import assertion syntax for package.json in rollup config
  rollup.config.mjs
Due: none

chore: update Node.js version to 22.21.1 in CI workflows
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore(deps): upgrade elliptic to version 6.6.1
  yarn.lock
Due: none

docs: add important note about using react-big-calendar-custom branch
  README.md
Due: prettier --write

chore(deps): upgrade qs to version 6.14.1 and webpack-dev-middleware to version 5.3.4
  yarn.lock
Due: none

chore(deps): update js-yaml to 4.1.1 and postcss to 8.4.31; upgrade webpack to 5.104.1
  yarn.lock
Due: none

chore(deps): update minimatch to version 5.1.8 and bn.js to version 5.2.3
  yarn.lock
Due: none

Fix DST spring-forward event positioning
  lib/TimeGrid.js
  lib/utils/dayViewLayout.js
Due: prettier --write

docs: add link to example for customizing resource view width using CSS variables
  src/Calendar.js
  src/localizer.js
  src/localizers/date-fns.js
  src/localizers/dayjs.js
  src/localizers/globalize.js
  src/localizers/luxon.js
  src/localizers/moment.js
  src/utils/constants.js
  src/utils/move.js
  stories/guides/CustomStyling.stories.mdx
Due: eslint, prettier --write

fix: outdated jsx transform
  babel.config.js
  package.json
  yarn.lock
Due: prettier --write

fix(Month): preserve needLimitMeasure state set by resize listener
  src/Month.js
Due: eslint, prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.004c02c2.iframe.bundle.js
  examples/main.96d7b290.iframe.bundle.js
  examples/project.json
Due: prettier --write

[bugfix] - drag possible fix
  src/addons/dragAndDrop/EventWrapper.js
Due: eslint, prettier --write

fix(a11y): add role=button and tabIndex to EventCell for screen reader support
  src/EventCell.js
Due: eslint, prettier --write

Delete .claude directory
  .claude/index.js
  .claude/settings.json
  .claude/setup.mjs
Due: prettier --write

Delete .vscode directory
  .vscode/setup.mjs
  .vscode/tasks.json
Due: prettier --write

Delete .github/workflows/issue-close-require.yml
  .github/workflows/issue-close-require.yml
Due: none

Delete .github/workflows/issue-labeled.yml
  .github/workflows/issue-labeled.yml
Due: none

docs: update documentation site
  examples/project.json
Due: prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.4886b741.iframe.bundle.js
  examples/main.96d7b290.iframe.bundle.js
  examples/project.json
Due: prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.96d7b290.iframe.bundle.js
  examples/main.eb50f438.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix(luxon): use standalone month tokens (LLL/LLLL) instead of MMM/MMMM
  src/localizers/luxon.js
Due: eslint, prettier --write
