Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
    "src/**/*.js": "eslint",
    "test/**/*.js": "eslint",
    "*.{js,json,css,md}": [
      "prettier --write"
    ]
  }

fix: resolve resizing in Month view
  src/addons/dragAndDrop/WeekWrapper.js
Due: eslint, prettier --write

fix: resolve resizing events in Month view
  src/addons/dragAndDrop/WeekWrapper.js
Due: eslint, prettier --write

chore(release): set `package.json` to 0.40.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7dddb21605bc4701d0735e21dbdda74170116f43
Due: none

Deploying to gh-pages from @ jquense/react-big-calendar@7dddb21605bc4701d0735e21dbdda74170116f43 🚀
  examples/iframe.html
  examples/main.2ab8efbd.iframe.bundle.js
  examples/main.91618b67.iframe.bundle.js
Due: prettier --write

feat(localizers): move localizer dependencies
  .size-snapshot.json
  .storybook/main.js
  babel.config.js
  package.json
  yarn.lock
Due: prettier --write

chore(release): set `package.json` to 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c2bd6b83fa134fadfa2f18e49d797a1ab1f0114c
Due: none

fix: zero duration no-overlap events
  src/utils/layout-algorithms/no-overlap.js
  stories/Layout.stories.js
  stories/helpers/index.js
Due: eslint, prettier --write

fix: zero duration no-overlap events (#2213)
  src/utils/layout-algorithms/no-overlap.js
  stories/Layout.stories.js
  stories/helpers/index.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c98c338ddc195dd66a1bb908c319f4220705b3c5
Due: none

Deploying to gh-pages from @ jquense/react-big-calendar@c98c338ddc195dd66a1bb908c319f4220705b3c5 🚀
  examples/iframe.html
  examples/main.43f9ecde.iframe.bundle.js
  examples/main.e42713d9.iframe.bundle.js
  examples/project.json
Due: prettier --write

feat: remove unneeded dependencies
  .size-snapshot.json
  package.json
  src/Calendar.js
  src/font/LICENSE.txt
  src/font/react-big-cal.eot
  src/font/react-big-cal.svg
  src/font/react-big-cal.ttf
  src/font/react-big-cal.woff
  src/less/agenda.less
  src/less/event.less
  src/less/month.less
  src/less/reset.less
  src/less/styles.less
  src/less/time-column.less
  src/less/time-grid.less
  src/less/toolbar.less
  src/less/variables.less
  stories/props/customComponents/CustomToolbar.component.js
  stories/resources/customToolbar.scss
  yarn.lock
Due: eslint, prettier --write

feat: remove unneeded dependencies (#2215)
  .size-snapshot.json
  package.json
  src/Calendar.js
  src/font/LICENSE.txt
  src/font/react-big-cal.eot
  src/font/react-big-cal.svg
  src/font/react-big-cal.ttf
  src/font/react-big-cal.woff
  src/less/agenda.less
  src/less/event.less
  src/less/month.less
  src/less/reset.less
  src/less/styles.less
  src/less/time-column.less
  src/less/time-grid.less
  src/less/toolbar.less
  src/less/variables.less
  stories/props/customComponents/CustomToolbar.component.js
  stories/resources/customToolbar.scss
  yarn.lock
Due: eslint, prettier --write

chore(release): set `package.json` to 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1b7d8bf2f7430710c4a00b160d83468953a2f5be
Due: none

refactor: replace unsafe deprecated methods
  src/BackgroundCells.js
  src/Calendar.js
  src/DateContentRow.js
  src/DayColumn.js
  src/Month.js
  src/TimeGrid.js
  stories/props/scrollToTime.stories.js
Due: eslint, prettier --write

refactor: resolve error
  src/TimeGrid.js
Due: eslint, prettier --write

feat: replace unsafe deprecated methods (#2216)
  src/BackgroundCells.js
  src/Calendar.js
  src/DateContentRow.js
  src/DayColumn.js
  src/Month.js
  src/TimeGrid.js
  stories/props/scrollToTime.stories.js
Due: eslint, prettier --write

Notes added by 'git notes add'
  41405d08a5492f432f896cbf893f87ced77f6984
Due: none

chore(release): set `package.json` to 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Deploying to gh-pages from @ jquense/react-big-calendar@41405d08a5492f432f896cbf893f87ced77f6984 🚀
  examples/iframe.html
  examples/main.280094dc.iframe.bundle.js
  examples/main.638a17e1.iframe.bundle.js
  examples/project.json
Due: prettier --write

refactor: overlay
  package.json
  src/Month.js
  src/PopOverlay.js
  src/Popup2.js
  src/hooks/useClickOutside.js
  yarn.lock
Due: eslint, prettier --write

refactor: popper placement
  src/PopOverlay.js
  src/Popup.js
  src/Popup2.js
Due: eslint, prettier --write

fix: update to current react-overlays (#2217)
  package.json
  src/Month.js
  src/PopOverlay.js
  src/Popup.js
  src/hooks/useClickOutside.js
  yarn.lock
Due: eslint, prettier --write

chore(release): set `package.json` to 1.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e9e07e5a50449ddf5b2419942936d4f1c0bf8df7
Due: none

fix: correct popupOffset
  src/PopOverlay.js
Due: eslint, prettier --write

fix: correct popupOffset (#2218)
  src/PopOverlay.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.2.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  55e007abf35c7bb5b8aacd4dbae6b899fc009b80
Due: none

Deploying to gh-pages from @ jquense/react-big-calendar@55e007abf35c7bb5b8aacd4dbae6b899fc009b80 🚀
  examples/iframe.html
  examples/main.6c9b8fea.iframe.bundle.js
  examples/main.f4ba0921.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: correct time-header-gutter
  src/TimeGrid.js
  src/sass/time-column.scss
Due: eslint, prettier --write

fix: correct time-header-gutter (#2219)
  src/TimeGrid.js
  src/sass/time-column.scss
Due: eslint, prettier --write

chore(release): set `package.json` to 1.2.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write
