Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
    "src/**/*.js": "eslint",
    "test/**/*.js": "eslint",
    "*.{js,json,css,md}": [
      "prettier --write"
    ]
  }

ci: correct json import for node 22
  rollup.config.mjs
Due: none

ci: correct json import for node 22 (#2683)
  rollup.config.mjs
Due: none

chore(release): set `package.json` to 1.16.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fe/a41753a1d3e7b1140b5a94496eb035fa58d313
Due: none

docs: update documentation site
  examples/project.json
Due: prettier --write

fix: update onDropFromOutside function signature to include resource parameter
  stories/addons/dragAndDrop/props/API.stories.mdx
  stories/addons/dragAndDrop/props/onDropFromOutside.mdx
Due: none

add hours after midnight
  src/Day.js
  src/TimeGrid.js
  src/Week.js
  src/WorkWeek.js
  src/utils/TimeSlots.js
  stories/demos/basic.stories.js
  stories/demos/exampleCode/basic.js
  stories/demos/exampleCode/customView.js
  stories/resources/events.js
Due: eslint, prettier --write

fix: add appearance: button for better cross-browser button styling compatibility (#2676)
  src/sass/reset.scss
Due: none

fix: remove -webkit-appearance: button; for cleanup (#2677)
  src/sass/reset.scss
Due: none

fix: add appearance: button for better cross-browser button styling c… (#2677)
  src/sass/reset.scss
Due: none

chore(release): set `package.json` to 1.16.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  11/818b526edf8c625f545c53433ca5d2ae3cfba1
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.10adce6e.iframe.bundle.js
  examples/main.3a330c4e.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: Customize drag from outside event's length (#2681)
  src/addons/dragAndDrop/EventContainerWrapper.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.16.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  78/d9c27c85aaf12ae7b4d283e3956f5dc75a2c51
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.3a330c4e.iframe.bundle.js
  examples/main.a475fd54.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: update doc type of onDropFromOutside function signature
  stories/addons/dragAndDrop/props/API.stories.mdx
  stories/addons/dragAndDrop/props/onDropFromOutside.mdx
Due: none

chore(release): set `package.json` to 1.16.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  32/1423a97255bd89dd4569089493c465283a16e5
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.87e2b024.iframe.bundle.js
  examples/main.a475fd54.iframe.bundle.js
  examples/project.json
Due: prettier --write

[mk] - replace dayjs with dayjsLib in merge function
  src/localizers/dayjs.js
Due: eslint, prettier --write

add handleInteractionsEnd to selector.on dropFromOutside to cleanup preview element
  src/addons/dragAndDrop/EventContainerWrapper.js
Due: eslint, prettier --write

Allow disabling scroll when dragging behaviour
  src/addons/dragAndDrop/EventContainerWrapper.js
  src/addons/dragAndDrop/withDragAndDrop.js
Due: eslint, prettier --write

document the prop
  stories/addons/dragAndDrop/props/API.stories.mdx
Due: none

adds a new event id accessor that is used as a react key, falls back to default
  src/Calendar.js
  src/DayColumn.js
  stories/helpers/createEvents.js
Due: eslint, prettier --write

remove create events ids
  stories/helpers/createEvents.js
Due: prettier --write

add stories
  stories/props/eventIdAccessor.mdx
  stories/props/eventIdAccessor.stories.js
  stories/props/storyDefaults.js
Due: prettier --write

make number or string, fix || to ??
  src/DayColumn.js
  stories/props/eventIdAccessor.mdx
Due: eslint, prettier --write

add prop type
  src/Calendar.js
Due: eslint, prettier --write

feat: adds a new event id accessor (#2693)
  src/Calendar.js
  src/DayColumn.js
  stories/props/eventIdAccessor.mdx
  stories/props/eventIdAccessor.stories.js
  stories/props/storyDefaults.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.17.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e0/22d9aeca5ca23c23d7b8ae58da664c3823780f
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.87e2b024.iframe.bundle.js
  examples/main.a11900bc.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix(Toolbar): cursor styling on hover
  src/sass/toolbar.scss
Due: none

fix(Toolbar): cursor styling on hover (#2700)
  src/sass/toolbar.scss
Due: none

chore(release): set `package.json` to 1.17.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1a/6a9938a7c4122398b44b9c06c4bcfbfec0894d
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.5d80e4d6.iframe.bundle.js
  examples/main.a11900bc.iframe.bundle.js
  examples/project.json
Due: prettier --write

Update Calendar.js
  src/Calendar.js
Due: eslint, prettier --write
