Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
    "src/**/*.js": "eslint",
    "test/**/*.js": "eslint",
    "*.{js,json,css,md}": [
      "prettier --write"
    ]
  }

Notes added by 'git notes add'
  9b7e3b628ba092f2bf3a314f0a47e219442cadf0
Due: none

fix: do the math ourselves
  .size-snapshot.json
  src/sass/variables.scss
Due: prettier --write

Deploying to gh-pages from @ jquense/react-big-calendar@9b7e3b628ba092f2bf3a314f0a47e219442cadf0 🚀
  examples/iframe.html
  examples/main.87f20c58.iframe.bundle.js
  examples/main.f4ba0921.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: do the math ourselves (#2220)
  .size-snapshot.json
  src/sass/variables.scss
Due: prettier --write

chore(release): set `package.json` to 1.2.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b0049e1d56fcc7f019d972fa8beb17f3639cea82
Due: none

Deploying to gh-pages from @ jquense/react-big-calendar@b0049e1d56fcc7f019d972fa8beb17f3639cea82 🚀
  examples/project.json
Due: prettier --write

feat: use custom event wrapper when dragging
  src/addons/dragAndDrop/EventContainerWrapper.js
Due: eslint, prettier --write

feat: use custom event wrapper when dragging (#2221)
  src/addons/dragAndDrop/EventContainerWrapper.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ae1c98393edd87bfe65ba335ff6a5b192c8072ad
Due: none

Deploying to gh-pages from @ jquense/react-big-calendar@ae1c98393edd87bfe65ba335ff6a5b192c8072ad 🚀
  examples/iframe.html
  examples/main.87f20c58.iframe.bundle.js
  examples/main.9acad75f.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: revert change
  src/addons/dragAndDrop/EventContainerWrapper.js
Due: eslint, prettier --write

fix: revert change (#2223)
  src/addons/dragAndDrop/EventContainerWrapper.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fe552b66d8d3afaebadb18daa81e40d2b0fb9cc4
Due: none

Deploying to gh-pages from @ jquense/react-big-calendar@fe552b66d8d3afaebadb18daa81e40d2b0fb9cc4 🚀
  examples/iframe.html
  examples/main.9acad75f.iframe.bundle.js
  examples/main.db6cfdae.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: temp fix for DayColumn render
  src/DayColumn.js
Due: eslint, prettier --write

fix: temp fix for DayColumn render (#2224)
  src/DayColumn.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.3.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5a774098c2877c9e6ff39107005a1d984330afa9
Due: none

Deploying to gh-pages from @ jquense/react-big-calendar@5a774098c2877c9e6ff39107005a1d984330afa9 🚀
  examples/iframe.html
  examples/main.28e140a6.iframe.bundle.js
  examples/main.db6cfdae.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: revert
  src/DayColumn.js
Due: eslint, prettier --write

fix: revert (#2227)
  src/DayColumn.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.3.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d2c37f5ccc8c1dbc5c67ea9074c825a37446f266
Due: none

Deploying to gh-pages from @ jquense/react-big-calendar@d2c37f5ccc8c1dbc5c67ea9074c825a37446f266 🚀
  examples/iframe.html
  examples/main.28e140a6.iframe.bundle.js
  examples/main.51936d5d.iframe.bundle.js
  examples/project.json
Due: prettier --write

feat: allow using custom event wrapper component while dragging
  src/addons/dragAndDrop/EventContainerWrapper.js
Due: eslint, prettier --write

feat: allow using custom event wrapper component while dragging (#2228)
  src/addons/dragAndDrop/EventContainerWrapper.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  55d9dc43d6a3b4fcade1e76104dc9020017b2c54
Due: none

Deploying to gh-pages from @ jquense/react-big-calendar@55d9dc43d6a3b4fcade1e76104dc9020017b2c54 🚀
  examples/iframe.html
  examples/main.51936d5d.iframe.bundle.js
  examples/main.ba1caec6.iframe.bundle.js
  examples/project.json
Due: prettier --write

feat: use CSS custom props instead of sass vars
  src/sass/agenda.scss
  src/sass/event.scss
  src/sass/mixins.scss
  src/sass/month.scss
  src/sass/styles.scss
  src/sass/time-column.scss
  src/sass/time-grid.scss
  src/sass/toolbar.scss
Due: none

fix(dnd): dont use classname Use getAttribute('class') instead of className. className can be an object as per web standards.
  src/addons/dragAndDrop/EventWrapper.js
Due: eslint, prettier --write

fix(dnd): dont use classname (#2232)
  src/addons/dragAndDrop/EventWrapper.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.4.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  33bc92a6ab02703822eed562c5030b78f183480b
Due: none

Deploying to gh-pages from @ jquense/react-big-calendar@33bc92a6ab02703822eed562c5030b78f183480b 🚀
  examples/iframe.html
  examples/main.ba1caec6.iframe.bundle.js
  examples/main.f43ca3eb.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: do not autoscroll on event selection
  src/TimeGrid.js
Due: eslint, prettier --write

fix: do not autoscroll on event selection (#2234)
  src/TimeGrid.js
Due: eslint, prettier --write
