Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

docs: add resourceId to onSelectSlot documentation
  stories/props/onSelectSlot.mdx
Due: none

feat(time-grid): handle overlay for show more button with popup prop for TimeGrid views
  src/Day.js
  src/TimeGrid.js
  src/TimeGridHeader.js
  src/Week.js
  src/utils/DateSlotMetrics.js
  stories/props/allDayMaxRows.stories.js
  stories/resources/allDayEvents.js
Due: eslint, prettier --write

feat(time-grid): allow consumer to set allDayMaxRows (#2386)
  src/BackgroundCells.js
  src/Calendar.js
  src/EventEndingRow.js
  src/Selection.js
  src/TimeGrid.js
  src/TimeGridHeader.js
  stories/props/API.stories.mdx
  stories/props/allDayMaxRows.mdx
  stories/props/allDayMaxRows.stories.js
  stories/resources/allDayEvents.js
Due: eslint, prettier --write

feat(allDayMaxRows): Allow for more granular control
  src/BackgroundCells.js
  src/Calendar.js
  src/Day.js
  src/EventEndingRow.js
  src/Selection.js
  src/TimeGrid.js
  src/TimeGridHeader.js
  src/Week.js
  src/utils/DateSlotMetrics.js
  stories/props/API.stories.mdx
  stories/props/allDayMaxRows.mdx
  stories/props/allDayMaxRows.stories.js
  stories/resources/allDayEvents.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  30/25e77fea6dcbc70ab09445de908494d2522178
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.441c1c7f.iframe.bundle.js
  examples/main.f7a105d6.iframe.bundle.js
  examples/project.json
Due: prettier --write

docs: add resourceId to onSelectSlot documentation (#2408)
  stories/props/onSelectSlot.mdx
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.441c1c7f.iframe.bundle.js
  examples/main.db621d68.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: fix popup position when it overflows
  src/Popup.js
Due: eslint, prettier --write

fix: scrollToTime does not work properly, when min specified (#2051)
  src/TimeGrid.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.8.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ef/c987bcf0e8f81bc861f6c5f65fa4e11d3b566d
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.5e1e8b6a.iframe.bundle.js
  examples/main.db621d68.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: time grid header component margin is not recalculated when the scroll settings change on macos
  src/TimeGrid.js
  src/TimeGridHeader.js
Due: eslint, prettier --write

Added `e.stopPropogation` for React 17 upgrade
  src/EventEndingRow.js
Due: eslint, prettier --write

feat(pill): add error message when passing timezone without using moment-timezone
  src/localizers/moment.js
Due: eslint, prettier --write

feat: added slotChildrenWraper props
  src/Calendar.js
  src/TimeSlotGroup.js
Due: eslint, prettier --write

feat: added types
  index.d.ts
  package.json
Due: prettier --write

feat: added story
  .gitignore
  dist/react-big-calendar.esm.js
  dist/react-big-calendar.js
  dist/react-big-calendar.min.js
  src/Calendar.js
  src/TimeSlotGroup.js
  stories/Calendar.stories.js
  stories/resources/customComponents.js
Due: eslint, prettier --write

fix: put bundled css in dist
  .scripts/build.mjs
  dist/react-big-calendar.css
  dist/react-big-calendar.css.map
  dist/react-big-calendar.esm.js
  dist/react-big-calendar.js
Due: prettier --write

feat: slot children wrapper will have a prop (#3)
  dist/react-big-calendar.esm.js
  dist/react-big-calendar.js
  dist/react-big-calendar.min.js
  index.d.ts
  src/TimeSlotGroup.js
Due: eslint, prettier --write

fix(component): unsafe methd
  package-lock.json
  package.json
  src/DayColumn.js
  yarn.lock
Due: eslint, prettier --write

feat: added support to render react big calendar inside shadow dom
  dist/react-big-calendar.esm.js
  dist/react-big-calendar.js
  dist/react-big-calendar.min.js
  package.json
  src/Selection.js
  yarn.lock
Due: eslint, prettier --write

fix(component): unsafe methd revert changes in package.json
  package.json
  src/DayColumn.js
Due: eslint, prettier --write

Fix bug drag event with rtl={true}
  src/DateContentRow.js
Due: eslint, prettier --write

fix(rtl DnD): Dragging an event in the RTL month view calendar gets confused to the wrong side (#2426)
  src/DateContentRow.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.8.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  79/c196c9a31be00097a0317fc11f43089c39c4b9
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.0af87fb8.iframe.bundle.js
  examples/main.5e1e8b6a.iframe.bundle.js
  examples/project.json
Due: prettier --write

ci: update Globalize
  .gitignore
  package.json
  yarn.lock
Due: prettier --write

ci: update Globalize (#2430)
  .gitignore
  package.json
  yarn.lock
Due: prettier --write

ci: mark globalizeLocalizer for update
  src/localizers/globalize.js
Due: eslint, prettier --write

ci: revert globalize dependency upgrade messaging (#2431)
  src/localizers/globalize.js
Due: eslint, prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.6d4822c0.iframe.bundle.js
  examples/main.8dc984e5.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix(component): fixing unsafe_method in daycolumn.js
  src/DayColumn.js
Due: eslint, prettier --write

Fix typo
  stories/AboutExamples.stories.mdx
Due: none

feat(pill): add examples to docs
  stories/demos/exampleCode/timezones.js
  stories/guides/Timezones.stories.mdx
Due: prettier --write

Modify events.js
  stories/resources/events.js
Due: prettier --write

Path conditions:
  eslint: (any of: src/**/*.js) or (any of: test/**/*.js)
  prettier --write: any of: *.{js,json,css,md}
