Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
    "src/**/*.js": "eslint",
    "test/**/*.js": "eslint",
    "*.{js,json,css,md}": [
      "prettier --write"
    ]
  }

chore(release): set `package.json` to 1.4.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  209de9b7d02193ad3f87a5fca62a73055fce2c2c
Due: none

Deploying to gh-pages from @ jquense/react-big-calendar@209de9b7d02193ad3f87a5fca62a73055fce2c2c 🚀
  examples/iframe.html
  examples/main.693ece61.iframe.bundle.js
  examples/main.f43ca3eb.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: auto scroll on event selection
  src/TimeGrid.js
Due: eslint, prettier --write

feat(time-gutter-wrapper): expose time gutter wrapper component
  src/Calendar.js
  src/TimeGutter.js
  stories/Calendar.stories.js
  stories/resources/customComponents.js
Due: eslint, prettier --write

fix: auto scroll on event selection (#2235)
  src/TimeGrid.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.4.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  85e376954282d704f8e2b279139b493dda1b7291
Due: none

Deploying to gh-pages from @ jquense/react-big-calendar@85e376954282d704f8e2b279139b493dda1b7291 🚀
  examples/iframe.html
  examples/main.12d53f88.iframe.bundle.js
  examples/main.693ece61.iframe.bundle.js
  examples/project.json
Due: prettier --write

feat(time-gutter-wrapper): expose time gutter wrapper component (#2236)
  src/Calendar.js
  src/TimeGutter.js
  stories/Calendar.stories.js
  stories/resources/customComponents.js
Due: eslint, prettier --write

Notes added by 'git notes add'
  76667d551cde6d0f7740b18f6c242f101cae4195
Due: none

chore(release): set `package.json` to 1.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

docs: add demo image to README
  README.md
  assets/rbc-demo.gif
Due: prettier --write

Deploying to gh-pages from @ jquense/react-big-calendar@76667d551cde6d0f7740b18f6c242f101cae4195 🚀
  examples/iframe.html
  examples/main.12d53f88.iframe.bundle.js
  examples/main.74ebe8e2.iframe.bundle.js
  examples/project.json
Due: prettier --write

docs: add demo image to README (#2237)
  README.md
  assets/rbc-demo.gif
Due: prettier --write

Deploying to gh-pages from @ jquense/react-big-calendar@f45a40be191fbd2de9f2833ce8ffd5172de20d7d 🚀
  examples/project.json
Due: prettier --write

fix: no-overlap layout algorithm
  src/utils/layout-algorithms/no-overlap.js
Due: eslint, prettier --write

feat: use fallback variables and add state variables (#2214)
  src/addons/dragAndDrop/styles.scss
  src/sass/agenda.scss
  src/sass/event.scss
  src/sass/mixins.scss
  src/sass/month.scss
  src/sass/styles.scss
  src/sass/time-column.scss
  src/sass/time-grid.scss
  src/sass/toolbar.scss
  src/sass/variables.scss
Due: none

feat: add information to custom styling story
  stories/guides/CustomStyling.stories.mdx
Due: none

feat: remove unnecessary sass state vars (#2214)
  src/sass/event.scss
  src/sass/month.scss
  src/sass/variables.scss
Due: none

fix: remove deprecated React.createFactory. #1831
  src/addons/dragAndDrop/common.js
Due: eslint, prettier --write

feat: calendar ui enhancements | CWDC-758
  .size-snapshot.json
  src/Calendar.js
  src/DateContentRow.js
  src/EventEndingRow.js
  src/Month.js
  src/TimeGrid.js
  src/TimeGridHeader.js
Due: eslint, prettier --write

feat: review comments fixes | CWDC-758
  .size-snapshot.json
  src/Calendar.js
  src/Month.js
  src/TimeGrid.js
  src/TimeGridHeader.js
Due: eslint, prettier --write

feat: update readme.md | CWDC-758
  README.md
Due: prettier --write

feat: added hover state in EventCell.js | CWDC-758
  .size-snapshot.json
  README.md
  src/EventCell.js
Due: eslint, prettier --write

add onContextMenu to onSelect
  src/EventCell.js
Due: eslint, prettier --write

docs: fixed instructions to run examples locally
  README.md
Due: prettier --write

fix: luxon story now uses luxon instead of moment
  stories/demos/luxon.stories.js
Due: prettier --write

fix(moment localizer): removed comments about 'day' and 'date' in the call to isSame()
  src/localizers/moment.js
Due: eslint, prettier --write

feat: created dayjs localizer
  README.md
  package.json
  src/index.js
  src/localizers/dayjs.js
  stories/demos/dayjs.stories.js
  stories/demos/exampleCode/dayjs.js
  yarn.lock
Due: eslint, prettier --write

fix(dayjs localizer): min() & max() now both behave correctly when a default timezone is applied
  src/localizers/dayjs.js
Due: eslint, prettier --write

Galeri
  SECURITY.md
Due: prettier --write

feat: remove hover state for events | CWDC-758
  .size-snapshot.json
  README.md
  src/EventCell.js
Due: eslint, prettier --write

feat(add colors): add colors to cards (#2236)
  src/EventCell.js
  stories/resources/events.js
Due: eslint, prettier --write

feat(add colors): add colors to cards (#2236)
  .gitignore
  dist/react-big-calendar.esm.js
  dist/react-big-calendar.js
  dist/react-big-calendar.min.js
Due: prettier --write

fix: unable to update RSVP in month view | CWDC-771
  .size-snapshot.json
  README.md
  src/Month.js
Due: eslint, prettier --write

fix: spell mistakes
  src/Month.js
Due: eslint, prettier --write

add optional custom formats for moment
  src/localizers/moment.js
Due: eslint, prettier --write

change def to default
  src/localizers/moment.js
Due: eslint, prettier --write

docs(localizer guide): edited last two paragraphs to include the new localizer
  stories/guides/localizer.stories.mdx
Due: none
