Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.7f374af4.iframe.bundle.js
  examples/main.e0e73b17.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: additional testing for different localizers (luxon and dayjs)
  src/localizers/dayjs.js
  src/localizers/luxon.js
  stories/Durations.stories.js
  stories/demos/exampleCode/basic.js
  stories/resources/events.js
Due: eslint, prettier --write

fix: uncomment line
  stories/demos/exampleCode/basic.js
Due: prettier --write

Minor typo in API.stories.mdx
  stories/props/API.stories.mdx
Due: none

Update messages.mdx
  stories/props/messages.mdx
Due: none

docs: Minor typo in API.stories.mdx (#2660)
  stories/props/API.stories.mdx
Due: none

docs: Minor typo in messages.mdx (#2661)
  stories/props/messages.mdx
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.b962d8b4.iframe.bundle.js
  examples/main.e0e73b17.iframe.bundle.js
  examples/project.json
Due: prettier --write

docs: update documentation site
  examples/project.json
Due: prettier --write

fix: revert file change
  stories/resources/events.js
Due: prettier --write

feat: added grouping to views :arrow_up:
  src/Calendar.js
  src/DateContentRow.js
  src/GroupingCalendarDayView.js
  src/GroupingCalendarMonthView.js
  src/GroupingCalendarViews.js
  src/GroupingCalendarWeekView.js
  src/Month.js
  src/sass/styles.scss
  stories/props/grouping.mdx
  stories/props/grouping.stories.js
  stories/resources/groupingEvents.js
Due: eslint, prettier --write

feat: grouping
  src/GroupingCalendarViews.js
Due: eslint, prettier --write

chore: release action on master
  .github/workflows/master.yaml
Due: none

feat: :rocket: build github packages
  .github/workflows/issue-close-require.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/release.yml
  .github/workflows/storybook.yml
  package.json
Due: prettier --write

feat: release fix
  package.json
Due: prettier --write

fix(grouping-calendar-week): :bug: fixed week grouping view alignment
  src/GroupingCalendarWeekView.js
  src/sass/styles.scss
Due: eslint, prettier --write

Date-fns localizer - display weekDayFormat correctly (#2568)
  src/localizers/date-fns.js
Due: eslint, prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.b962d8b4.iframe.bundle.js
  examples/main.f255f4cf.iframe.bundle.js
  examples/project.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Update README-ar.md
  docs/README-ar.md
Due: prettier --write

feat: install dnd 14
  package.json
  yarn.lock
Due: prettier --write

feat: use dnd14 by flag
  src/addons/dragAndDrop/DraggableEventWrapper.js
  src/addons/dragAndDrop/DropWrappers.js
  src/addons/dragAndDrop/withDragAndDrop.js
Due: eslint, prettier --write

chore: add watch tasks
  package.json
Due: prettier --write

chore: remove unused
  src/addons/dragAndDrop/withDragAndDrop.js
Due: eslint, prettier --write

Release v0.32.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add documentation and stories for resourceGroupingLayout prop
  stories/props/resourceGroupingLayout.mdx
  stories/props/resourceGroupingLayout.stories.js
Due: prettier --write

fix: resource grouping styles and full height utils
  src/TimeGridHeaderResources.js
  src/sass/styles.scss
  src/sass/time-grid.scss
Due: eslint, prettier --write

feat: refactor resource events generation
  stories/demos/exampleCode/resource.js
  stories/props/resourceGroupingLayout.stories.js
Due: prettier --write

feat: add drag & drop to example to make sure it work
  stories/demos/exampleCode/resource.js
Due: prettier --write

feat: implement Conditional Resource Grouping (#2679)
  src/Calendar.js
  src/TimeGrid.js
  src/TimeGridHeaderResources.js
  src/sass/month.scss
  src/sass/styles.scss
  src/sass/time-grid.scss
  stories/demos/exampleCode/resource.js
  stories/props/resourceGroupingLayout.mdx
  stories/props/resourceGroupingLayout.stories.js
Due: eslint, prettier --write

Customize drag from outside event's length
  src/addons/dragAndDrop/EventContainerWrapper.js
Due: eslint, prettier --write

refactor(a11y): aria role cell is not allowed for button element (#2637)
  src/DateHeader.js
Due: eslint, prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.10adce6e.iframe.bundle.js
  examples/main.7917f49a.iframe.bundle.js
  examples/project.json
Due: prettier --write

ci: update workflow scripting
  .github/workflows/release.yml
  .github/workflows/test.yml
  yarn.lock
Due: none

ci: update workflow scripting (#2682)
  .github/workflows/release.yml
  .github/workflows/test.yml
  yarn.lock
Due: none

Path conditions:
  eslint: (any of: src/**/*.js) or (any of: test/**/*.js)
  prettier --write: any of: *.{js,json,css,md}
