Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
    "src/**/*.js": "eslint",
    "test/**/*.js": "eslint",
    "*.{js,json,css,md}": [
      "prettier --write"
    ]
  }

fix: 1px misalignment
  src/TimeGridHeader.js
Due: eslint, prettier --write

fix: pass dates to slotGroupPropGetter (#2066)
  src/Calendar.js
  src/TimeSlotGroup.js
  stories/props/API.stories.mdx
  stories/props/slotGroupPropGetter.mdx
Due: eslint, prettier --write

chore(release): set `package.json` to 1.6.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  85a4de85a437b731b2730c80157ed46e8fe21ddd
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.18526421.iframe.bundle.js
  examples/main.6e16aa70.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: 1px misalignment (#2367)
  src/TimeGridHeader.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.6.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6cd3a4bf2b818f343b790a61df74247027ef816e
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.101df1b3.iframe.bundle.js
  examples/main.6e16aa70.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: Setting a view as false in views prop should turn it off #2316
  src/Calendar.js
Due: eslint, prettier --write

fix: correct treatment of boolean view in 'views' (#2368)
  src/Calendar.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.6.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  76be38e0c575830c2998648571716b665cd0733c
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.101df1b3.iframe.bundle.js
  examples/main.da396975.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: consistent multi-day event time ranges
  src/localizers/date-fns.js
Due: eslint, prettier --write

update current time indicator to fallback one hour on daylightsavings end
  lib/TimeColumn.js
  src/TimeColumn.js
Due: eslint, prettier --write

fix: wrong time on the day when DST changes
  src/localizers/moment.js
  stories/resources/events.js
Due: eslint, prettier --write

fix(moment): wrong time on the day when DST changes (#2374)
  src/localizers/moment.js
  stories/resources/events.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.6.9 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  67db3d74f20a9f72f7e2a10de1eaa90ee780c110
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.af6e1814.iframe.bundle.js
  examples/main.da396975.iframe.bundle.js
  examples/project.json
Due: prettier --write

docs: add decorator to wrap story in container
  stories/Calendar.stories.js
  stories/DragAndDrop.stories.js
  stories/Durations.stories.js
  stories/Layout.stories.js
  stories/Timeslots.stories.js
Due: prettier --write

docs: add decorator to wrap story in container (#2385)
  stories/Calendar.stories.js
  stories/DragAndDrop.stories.js
  stories/Durations.stories.js
  stories/Layout.stories.js
  stories/Timeslots.stories.js
Due: prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.435a2809.iframe.bundle.js
  examples/main.af6e1814.iframe.bundle.js
  examples/project.json
Due: prettier --write

Moving events lasting less than a minute
  src/addons/dragAndDrop/common.js
Due: eslint, prettier --write

Fix issue with jest-axe aria-parent error
  src/DateHeader.js
Due: eslint, prettier --write

feat(pill): support custom timezone
  src/localizers/moment.js
Due: eslint, prettier --write

#1649 - Update resourceIdAccessor docs
  src/Calendar.js
  stories/props/API.stories.mdx
  stories/props/resourceIdAccessor.mdx
Due: eslint, prettier --write

#1649 - Adds Resource Scheduling example description
  stories/demos/exampleCode/resource.js
Due: prettier --write

feat(pill): remove spaces and timezone will optional
  src/localizers/moment.js
Due: eslint, prettier --write

#1649 - Adds missing import and fixes spacing
  stories/demos/exampleCode/resource.js
Due: prettier --write

#1649 - Copies event to multiple resources from single resource on drag'n'drop
  stories/demos/exampleCode/dndresource.js
Due: prettier --write

Update resource.js
  stories/demos/exampleCode/resource.js
Due: prettier --write

feat: Support multiple resources on an event
  src/Calendar.js
  src/DayColumn.js
  src/addons/dragAndDrop/EventWrapper.js
  src/utils/Resources.js
  stories/DragAndDrop.stories.js
  stories/demos/exampleCode/dndresource.js
  stories/demos/exampleCode/resource.js
  stories/helpers/index.js
  stories/props/API.stories.mdx
  stories/props/resourceIdAccessor.mdx
Due: eslint, prettier --write

chore(release): set `package.json` to 1.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.435a2809.iframe.bundle.js
  examples/main.f7a105d6.iframe.bundle.js
  examples/project.json
Due: prettier --write
