Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
    "src/**/*.js": "eslint",
    "test/**/*.js": "eslint",
    "*.{js,json,css,md}": [
      "prettier --write"
    ]
  }

fix: correct publishing
  .github/workflows/release.yml
  release.config.js
Due: prettier --write

fix: correct publishing (#2350)
  .github/workflows/release.yml
  release.config.js
Due: prettier --write

chore(release): set `package.json` to 1.6.2 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  cf4c54e8fdf567d5ae5e4d07ffe22957b4e0b462
Due: none

ci: try again
  .github/workflows/release.yml
  release.config.js
Due: prettier --write

ci: try again (#2351)
  .github/workflows/release.yml
  release.config.js
Due: prettier --write

ci: the old college try
  .github/workflows/release.yml
  release.config.js
Due: prettier --write

ci: the old college try (#2352)
  .github/workflows/release.yml
  release.config.js
Due: prettier --write

ci: with publishConfig
  package.json
Due: prettier --write

ci: with publishConfig (#2353)
  package.json
Due: prettier --write

ci: and another
  .github/workflows/release.yml
Due: none

ci: and another (#2354)
  .github/workflows/release.yml
Due: none

ci: once again
  .github/workflows/release.yml
  release.config.js
Due: prettier --write

ci: once again (#2355)
  .github/workflows/release.yml
  release.config.js
Due: prettier --write

ci: and again
  .github/workflows/release.yml
Due: none

ci: and again (#2356)
  .github/workflows/release.yml
Due: none

ci: still trying
  package.json
Due: prettier --write

ci: still trying (#2357)
  package.json
Due: prettier --write

fix: Fixed publish script (fix #2330)
  .github/workflows/release.yml
Due: none

fix: Fixed publish script (fix #2330) (#2358)
  .github/workflows/release.yml
Due: none

chore(release): set `package.json` to 1.6.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6f600e7f1ca5e5d02e618737b4abe300dce53417
Due: none

ci: update doc release
  .github/workflows/storybook.yml
Due: none

ci: update doc release (#2360)
  .github/workflows/storybook.yml
Due: none

fix: rounding behavior in Luxon localizer
  src/localizers/luxon.js
Due: eslint, prettier --write

fix: rounding behavior in Luxon localizer (#2362)
  src/localizers/luxon.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.6.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  390c7313c28ee7f6ac121a45f82072d21b952300
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.2fc7481a.iframe.bundle.js
  examples/main.d2fe3a57.iframe.bundle.js
  examples/project.json
Due: prettier --write

ci: update Storybook
  package.json
  yarn.lock
Due: prettier --write

ci: update Storybook (#2365)
  package.json
  yarn.lock
Due: prettier --write

docs: update documentation site
  examples/767.b96d418aec4636358435.manager.bundle.js
  examples/767.f37c412a60a1be755291.manager.bundle.js
  examples/767.f37c412a60a1be755291.manager.bundle.js.LICENSE.txt
  examples/index.html
  examples/project.json
Due: prettier --write

feat: calendar auto scroll while draging event at top/bottom edge
  src/addons/dragAndDrop/EventContainerWrapper.js
  src/addons/dragAndDrop/withDragAndDrop.js
  stories/DragAndDrop.stories.js
  stories/addons/dragAndDrop/props/API.stories.mdx
  stories/addons/dragAndDrop/props/autoScroll.mdx
  stories/addons/dragAndDrop/props/autoScroll.stories.js
  stories/demos/exampleCode/autoScroll.js
Due: eslint, prettier --write

feat: drag auto scroll as default behaviour
  src/addons/dragAndDrop/EventContainerWrapper.js
  src/addons/dragAndDrop/withDragAndDrop.js
  stories/DragAndDrop.stories.js
  stories/addons/dragAndDrop/props/API.stories.mdx
  stories/addons/dragAndDrop/props/autoScroll.mdx
  stories/addons/dragAndDrop/props/autoScroll.stories.js
  stories/demos/exampleCode/autoScroll.js
Due: eslint, prettier --write

fix: calendar auto scroll while dragging event at top/bottom edge (#2230)
  src/addons/dragAndDrop/EventContainerWrapper.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.6.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3115e12275ec6efb1a8f5b99fb22cbf614887316
Due: none

pass dates to slotGroupPropGetter
  src/Calendar.js
  src/TimeSlotGroup.js
  stories/props/API.stories.mdx
  stories/props/slotGroupPropGetter.mdx
Due: eslint, prettier --write
