Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
    "src/**/*.js": "eslint",
    "test/**/*.js": "eslint",
    "*.{js,json,css,md}": [
      "prettier --write"
    ]
  }

feat: add support for React 19
  package.json
Due: prettier --write

fix: fix dayjs localizer merge function to not change min and max upon tz change
  src/localizers/dayjs.js
Due: eslint, prettier --write

Revert previous fix
  .gitignore
  src/utils/layout-algorithms/overlap.js
Due: eslint, prettier --write

Rewrite overlap algorithm
  .size-snapshot.json
  package.json
  src/utils/layout-algorithms/overlap.js
  src/utils/rangeFunctions.js
  test/utils/overlap.test.js
Due: eslint, prettier --write

Fix sort method
  .size-snapshot.json
  src/utils/layout-algorithms/overlap.js
Due: eslint, prettier --write

Fix bug with short and consecutive events
  .size-snapshot.json
  src/utils/layout-algorithms/overlap.js
  test/utils/overlap.test.js
Due: eslint, prettier --write

Remove TODO
  src/utils/layout-algorithms/overlap.js
Due: eslint, prettier --write

Add comment
  .size-snapshot.json
  src/utils/layout-algorithms/overlap.js
Due: eslint, prettier --write

Update package number
  package.json
Due: prettier --write

feat: introduce CSS variables for day slot width customization
  src/sass/time-column.scss
  src/sass/time-grid.scss
  src/sass/variables.scss
  stories/guides/CustomStyling.stories.mdx
Due: none

feat: add documentation for CSS variable resource view day slot width customization
  src/sass/time-column.scss
  src/sass/time-grid.scss
  src/sass/variables.scss
  stories/Calendar.stories.js
  stories/guides/CustomStyling.stories.mdx
  yarn.lock
Due: prettier --write

docs: add link to example for customizing resource view width using CSS variables
  stories/guides/CustomStyling.stories.mdx
Due: none

Allow events to expand past their range
  .size-snapshot.json
  package.json
  src/utils/layout-algorithms/overlap.js
  test/utils/overlap.test.js
Due: eslint, prettier --write

update layout for hidden event
  src/utils/layout-algorithms/overlap.js
Due: eslint, prettier --write

added hidden events to createEventRange function
  src/utils/layout-algorithms/overlap.js
Due: eslint, prettier --write

added overlap
  .size-snapshot.json
  src/utils/layout-algorithms/overlap.js
Due: eslint, prettier --write

fixed width 100%
  .size-snapshot.json
  package.json
  src/utils/layout-algorithms/overlap.js
Due: eslint, prettier --write

changed is hidden variable
  package.json
  src/utils/layout-algorithms/overlap.js
Due: eslint, prettier --write

updated package version
  .size-snapshot.json
  package.json
Due: prettier --write

fix(luxon): incorrect slot dates during DST changes
  src/localizers/luxon.js
Due: eslint, prettier --write

feat: add support for React 19 (#2710)
  package.json
Due: prettier --write

chore(release): set `package.json` to 1.18.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  40/497d40220e94227e158cbcb13327b4b7783b1d
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.5d80e4d6.iframe.bundle.js
  examples/main.bf0fb94f.iframe.bundle.js
  examples/project.json
Due: prettier --write

docs: Update README.md Slack link
  README.md
Due: prettier --write

docs: Update README-ar.md Slack link
  docs/README-ar.md
Due: prettier --write

docs: Update README-ar.md Slack link (#2725)
  docs/README-ar.md
Due: prettier --write

docs: Update README.md Slack link (#2724)
  README.md
Due: prettier --write

docs: update documentation site
  examples/project.json
Due: prettier --write

Fix performance issue for deeply nested events
  .size-snapshot.json
  package.json
  src/utils/layout-algorithms/overlap.js
  test/utils/overlap.test.js
Due: eslint, prettier --write

fix: updated usage of Uncontrollable to fix issues in react 19
  src/Calendar.js
Due: eslint, prettier --write

Documenting the resourceAccessor prop
  stories/props/API.stories.mdx
  stories/props/resourceAccessor.mdx
  stories/props/resourceAccessor.stories.js
  stories/props/resourceIdAccessor.stories.js
  stories/props/storyDefaults.js
Due: prettier --write

Adjusted storyDefaults so tweaked ResourceId key is only on resourceAccessorStoryArgs
  stories/props/storyDefaults.js
Due: prettier --write

added support for is_recurring_event_hidden
  package.json
  src/utils/layout-algorithms/overlap.js
Due: eslint, prettier --write

fix: correctly show +more buttons on slots with hidden spanning events
  src/EventEndingRow.js
Due: eslint, prettier --write

chore: fixed build scripts to work in winOS
  .scripts/build.mjs
  build-win.js
  package.json
  yarn.lock
Due: prettier --write

feat: adds customizable selection rendering
  src/Calendar.js
  src/DayColumn.js
Due: eslint, prettier --write

feat: adds custom selection to Calendar stories
  stories/Calendar.stories.js
  stories/resources/customComponents.js
Due: prettier --write

chore: code formatting
  src/DayColumn.js
Due: eslint, prettier --write
