Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat(translations): translate CONTRIBUTING.md to Arabic
  CONTRIBUTING_AR.md
Due: prettier --write

fix(stories): fix not working links in docs
  stories/props/date.mdx
  stories/props/onSelectSlot.mdx
  stories/props/onSelecting.mdx
  stories/props/selected.mdx
  stories/props/view.mdx
Due: none

fix(docs): correct link for 'props' in 'Understanding Dates' guide
  stories/guides/Dates.stories.mdx
Due: none

Revert "fix(docs): correct link for 'props' in 'Understanding Dates' guide"
  stories/guides/Dates.stories.mdx
Due: none

fix: end date calculation in selectDates function
  src/Month.js
Due: eslint, prettier --write

fix: Correct selection issues
  src/DayColumn.js
  src/utils/TimeSlots.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.11.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  29/2942887f860c6b358b342447e4478f1af0ada7
Due: none

fix(stories): fix not working links in docs (#2559)
  stories/props/date.mdx
  stories/props/onSelectSlot.mdx
  stories/props/onSelecting.mdx
  stories/props/selected.mdx
  stories/props/view.mdx
Due: none

chore(release): set `package.json` to 1.11.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6e/5009ac68b6cf817d4fe371f146c25a9795dd91
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.18ba3312.iframe.bundle.js
  examples/main.921de664.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix(docs): correct link for 'props' in 'Understanding Dates' guide (#2562)
  stories/guides/Dates.stories.mdx
Due: none

chore(release): set `package.json` to 1.11.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cd/5f4bbc1d162f1e9423d6e70825f57f521a132f
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.18ba3312.iframe.bundle.js
  examples/main.7dcbdf20.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: issue #2534
  README.md
  src/Month.js
  src/localizers/dayjs.js
Due: eslint, prettier --write

fix: remove console.logs
  src/localizers/dayjs.js
Due: eslint, prettier --write

Change weekDayFormat in date-fns.js
  src/localizers/date-fns.js
Due: eslint, prettier --write

set up example with staircase events
  .size-snapshot.json
  examples/events.js
  package.json
Due: prettier --write

aded improved label
  examples/events.js
  src/utils/layout-algorithms/overlap.js
Due: eslint, prettier --write

added conosle log
  src/utils/layout-algorithms/overlap.js
Due: eslint, prettier --write

fix: #2565 doubleClick
  src/Selection.js
Due: eslint, prettier --write

feat(translations): update CONTRIBUTING_AR.md
  CONTRIBUTING_AR.md
Due: prettier --write

added notes and comment
  src/utils/layout-algorithms/overlap.js
Due: eslint, prettier --write

added overlay fix
  examples/events.js
  src/utils/layout-algorithms/overlap.js
Due: eslint, prettier --write

removed comments
  .size-snapshot.json
  src/utils/layout-algorithms/overlap.js
Due: eslint, prettier --write

upticked to 58
  package.json
Due: prettier --write

formatted file
  src/utils/layout-algorithms/overlap.js
Due: eslint, prettier --write

Translate README to Arabic
  README.md
  docs/README-ar.md
Due: prettier --write

getRowLimit update
  src/DateContentRow.js
Due: eslint, prettier --write

observe height change
  src/Month.js
  src/sass/month.scss
Due: eslint, prettier --write

cleanup unused import
  src/Month.js
Due: eslint, prettier --write

measure event height without dummy row
  src/DateContentRow.js
  src/Month.js
Due: eslint, prettier --write

clean unused variable
  src/DateContentRow.js
Due: eslint, prettier --write

dummy rows not needed anymore
  src/sass/month.scss
Due: none

fix: correcting doubleClick (#2571)
  src/Selection.js
Due: eslint, prettier --write

Path conditions:
  eslint: (any of: src/**/*.js) or (any of: test/**/*.js)
  prettier --write: any of: *.{js,json,css,md}
