Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

fix(dayjs localizer): dayjs plugins are now loaded by the localizer
  src/localizers/dayjs.js
Due: eslint, prettier --write

docs: updated README.md & exampleCode to reflect dayjs plugins being loaded by the localizer
  README.md
  stories/demos/exampleCode/dayjs.js
Due: prettier --write

docs(localizer props): added dayjs example & sorted examples alphabetically
  stories/props/localizer.mdx
Due: none

docs(exampleCode dayjs): use dayjs to construct date based props
  src/localizers/dayjs.js
  stories/demos/exampleCode/dayjs.js
Due: eslint, prettier --write

test: added commented out dayjs configuration
  test/utils/DayEventLayout.test.js
  test/utils/TimeSlots.test.js
  test/utils/eventLevels.test.js
Due: eslint, prettier --write

revert(README.md): remove note on node 16 storybook requirement
  README.md
Due: prettier --write

fix(dayjs localizer): dayjs plugins are now loaded by the dayjsLocalizer
  src/localizers/dayjs.js
Due: eslint, prettier --write

docs(dayjs localizer): mention dayjs plugins being loaded by the dayjsLocalizer
  README.md
  stories/demos/exampleCode/dayjs.js
  stories/props/localizer.mdx
Due: prettier --write

docs(timezones): mention the dayjsLocalizer's ability to handle timezones too
  stories/guides/Timezones.stories.mdx
Due: none

feat(event-height-precision): modification example
  src/addons/dragAndDrop/common.js
  src/utils/TimeSlots.js
  stories/props/eventHeightPrecision.mdx
  stories/props/eventHeightPrecision.stories.js
  stories/resources/events.js
Due: eslint, prettier --write

Added popup flag to handle toggle option
  src/Popup.js
Due: eslint, prettier --write

Added popup flag to handle toggle option
  src/PopOverlay.js
Due: eslint, prettier --write

Added noDuplicateInMore to show/hide duplicate events in more popup, popup can now be true/false or toggle to enable show/hide on click
  src/Calendar.js
Due: eslint, prettier --write

Added noDuplicateInMore to show/hide duplicates in more popup, popup can now be toggle to show hide more on click
  src/Month.js
Due: eslint, prettier --write

docs: make "Docs" tab default
  .storybook/preview.js
Due: prettier --write

docs: make "Docs" tab default (#2289)
  .storybook/preview.js
Due: prettier --write

Deploying to gh-pages from @ jquense/react-big-calendar@09c2bc12e5c7efceacf7252e5dac68c51b59fe9f 🚀
  examples/iframe.html
  examples/main.2a6d7b62.iframe.bundle.js
  examples/main.74ebe8e2.iframe.bundle.js
  examples/project.json
Due: prettier --write

feat: add custom timezone support for luxon localizer
  README.md
  src/localizers/luxon.js
  stories/demos/exampleCode/luxon.js
  stories/demos/luxon.stories.js
Due: eslint, prettier --write

fix: typo for prop titles
  stories/props/API.stories.mdx
Due: none

fix: typo for prop titles (#2298)
  stories/props/API.stories.mdx
Due: none

chore(release): set `package.json` to 1.5.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2a1d5b5e21d6b884bf8a1ba01aa8744eb4e09bca
Due: none

Deploying to gh-pages from @ jquense/react-big-calendar@2a1d5b5e21d6b884bf8a1ba01aa8744eb4e09bca 🚀
  examples/iframe.html
  examples/main.2a6d7b62.iframe.bundle.js
  examples/main.650c6f78.iframe.bundle.js
  examples/project.json
Due: prettier --write

fix: do not send undefined/null gutterRef to getWidth
  src/TimeGrid.js
Due: eslint, prettier --write

fix: do not send undefined/null gutterRef to getWidth (#2300)
  src/TimeGrid.js
Due: eslint, prettier --write

chore(release): set `package.json` to 1.5.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5611d998fcf50a57f40dd8103d7e807625bb4e00
Due: none

Deploying to gh-pages from @ jquense/react-big-calendar@5611d998fcf50a57f40dd8103d7e807625bb4e00 🚀
  examples/iframe.html
  examples/main.542e75ec.iframe.bundle.js
  examples/main.650c6f78.iframe.bundle.js
  examples/project.json
Due: prettier --write

feat: allow day column to wrap to following day
  src/utils/TimeSlots.js
Due: eslint, prettier --write

Update WeekWrapper => handleEvent
  src/addons/dragAndDrop/WeekWrapper.js
Due: eslint, prettier --write

Update .gitignore
  .gitignore
Due: none

fix: show multi-day events that fit in timegrid
  src/TimeGrid.js
Due: eslint, prettier --write

docs: afterMidnight story
  stories/demos/afterMidnight.stories.js
  stories/demos/exampleCode/afterMidnight.js
Due: prettier --write

feat: Dayjs localizer (#2264)
  README.md
  package.json
  src/index.js
  src/localizers/dayjs.js
  stories/demos/dayjs.stories.js
  stories/demos/exampleCode/dayjs.js
  stories/demos/luxon.stories.js
  stories/guides/Timezones.stories.mdx
  stories/guides/localizer.stories.mdx
  stories/props/localizer.mdx
  test/utils/DayEventLayout.test.js
  test/utils/TimeSlots.test.js
  test/utils/eventLevels.test.js
  yarn.lock
Due: eslint, prettier --write

chore(release): set `package.json` to 1.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  47950a716b771811203782d0a29409dcc3db136f
Due: none

ci: correct release
  .github/workflows/release.yml
  src/Popup.js
Due: eslint, prettier --write

ci: correct action version
  .github/workflows/test.yml
Due: none

ci: correct release (#2326)
  .github/workflows/release.yml
  .github/workflows/test.yml
  src/Popup.js
Due: eslint, prettier --write

Path conditions:
  eslint: (any of: src/**/*.js) or (any of: test/**/*.js)
  prettier --write: any of: *.{js,json,css,md}
