Repository jquense/react-big-calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Notes added by 'git notes add'
  eb/06b34333877f58f7a3d277dbf2a8712c8df60f
Due: none

chore(release): set `package.json` to 1.11.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update documentation site
  examples/iframe.html
  examples/main.3162c34f.iframe.bundle.js
  examples/main.7dcbdf20.iframe.bundle.js
  examples/project.json
Due: prettier --write

feat(translations): translate CONTRIBUTING.md to Arabic (#2558)
  CONTRIBUTING_AR.md
Due: prettier --write

Translate README to Arabic (#2572)
  README.md
  docs/README-ar.md
Due: prettier --write

chore(release): set `package.json` to 1.12.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  31/fef8803fd2727530870f6844db4c9457783c01
Due: none

docs: update documentation site
  examples/project.json
Due: prettier --write

Italian README.md
  docs/README-it.md
Due: prettier --write

measure first found week with an event
  src/DateContentRow.js
  src/Month.js
Due: eslint, prettier --write

feat: translating README file to French
  README.fr.md
Due: prettier --write

fix: issue #2524
  src/WorkWeek.js
Due: eslint, prettier --write

feat: added russian and chinese cultures to localization for wider accessibility
  stories/demos/exampleCode/cultures.js
Due: prettier --write

feat: add japanese language support
  stories/demos/exampleCode/cultures.js
Due: prettier --write

fix: fixing Drag and Drop Examples link
  stories/demos/dragAndDrop.stories.mdx
Due: none

enhance_custom_toolbar_styling
  stories/props/customComponents/CustomToolbar.component.js
Due: prettier --write

feat: remove onSelectSlot event handler as its only creating empty events
  stories/demos/exampleCode/dndOutsideSource.js
Due: prettier --write

chore(release): set `package.json` to 1.12.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1b/d12920680e786859ee688c2f60271cecc3741e
Due: none

docs: update documentation site
  examples/iframe.html
  examples/main.1f0974e8.iframe.bundle.js
  examples/main.3162c34f.iframe.bundle.js
  examples/project.json
Due: prettier --write

Extra Imports
  src/index.js
Due: eslint, prettier --write

fix: create individual event to prevent breaking array logic
  stories/demos/exampleCode/dndresource.js
Due: prettier --write

ci: bump both checkout and setup-node actions from v3 to v4
  .github/workflows/release.yml
  .github/workflows/storybook.yml
  .github/workflows/test.yml
Due: none

“improvingContributing”
  CONTRIBUTING.md
Due: prettier --write

Commit local changes to yarn.lock
  yarn.lock
Due: none

Add package-lock.json to Git
  package-lock.json
Due: prettier --write

Update CONTRIBUTING.md and resolve package-lock.json conflict
  CONTRIBUTING.md
  package-lock.json
  yarn.lock
Due: prettier --write

Update CONTRIBUTING.md with new guidelines
  CONTRIBUTING.md
Due: prettier --write

feat: update localization support guide
  stories/demos/exampleCode/cultures.js
  stories/guides/localizer.stories.mdx
Due: prettier --write

docs: update Slack invite link
  README.md
  docs/README-ar.md
Due: prettier --write

docs: update Slack invite link (#2598)
  README.md
  docs/README-ar.md
Due: prettier --write

feat: update japanese language support
  stories/guides/localizer.stories.mdx
Due: none

fix: use LLL instead of MMM to format month in luxon localizer
  src/localizers/luxon.js
Due: eslint, prettier --write

fix bug with dnd drag drop
  stories/demos/exampleCode/dnd.js
Due: prettier --write

fix: bug with dnd drag drop (#2602)
  stories/demos/exampleCode/dnd.js
Due: prettier --write

chore(release): set `package.json` to 1.12.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  eslint: (any of: src/**/*.js) or (any of: test/**/*.js)
  prettier --write: any of: *.{js,json,css,md}
